{#
    Filename    : profile.html.twig
    Location    : application/views/user/profile.html.twig
    Purpose     : Profile partial page
    Created     : 06/28/2019 23:12:26 by Spiderman
    Updated     : 09/25/2019 17:22:08 by Spiderman
    Changes     : 
#}

{% extends 'user/base.html.twig' %}

{% block title %} {{ page_title }} | Carmel {% endblock %}

{% block contents %}
    <div class="row">
        <div id="profile" class="col-12 col-lg-4">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <!-- This is where the user profile load -->
                </div>
            </div>
        </div>
        <div id="info" class="col-12 col-lg-8">
            <div class="card mb-3">
                <div class="card-header">
                    <h3 class="card-title">Personal Information</h3>
                </div>
                <form id="update-form">
                    <div class="card-body">
                        <div id="ajax-preloader"></div>
                        <div id="ajax-response"></div>
                        <input type="hidden" name="id">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label for="first-name">First Name</label>
                                    <input id="first-name" class="form-control" name="first_name"/>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label for="last-name">Last Name</label>
                                    <input id="last-name" class="form-control" name="last_name"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address-1">Address 1</label>
                            <input type="text" class="form-control" id="address-1" name="address_1" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="address-2">Address 2</label>
                            <input type="text" class="form-control" id="address-2" name="address_2" placeholder="">
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-4">
                                <div class="form-group">
                                    <label for="city">City</label>
                                    <select class="form-control" id="city" name="city">
                                        <!-- This is where the city load -->
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="form-group">
                                    <label for="province">Province</label>
                                    <select class="form-control" id="province" name="province">
                                        <!-- This is where the province load -->
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="form-group">
                                    <label for="country">Country</label>
                                    <select class="form-control" id="country" name="country">
                                        <!-- This is where the country load -->
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label for="landline">Landline</label>
                                    <input type="text" class="form-control" id="landline" name="landline" placeholder="">
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label for="mobile">Mobile</label>
                                    <input type="text" class="form-control" id="mobile" name="mobile" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-lg btn-brown rounded-pill px-5 btn-change-state">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_scripts %}
    <script>
        $(function () {

            let baseURL = $.fn.baseURL();
            let apiURL = $.fn.apiURL();
            let branchID = $.fn.branchID();

            // GET: Display by id
            let getById = {
                init: function () {
                    this.displayForm();
                },
                displayForm: function () {
                    let _this = $('body');
                    let id = _this.attr('data-user-id');

                    let jqXHR = $.ajax({
                        url: baseURL + '/user/profile/info/?branch_id=' + branchID + '&id=' + id,
                        type: 'GET',
                        dataType: 'json',
                        data: _this.serialize(),
                        cache: false,
                        processData: false
                    });

                    jqXHR.done(function (data) {
                        if (data) { // Populate form
                            _this.find('#profile .card-body').append('<img class="img-fluid rounded-circle mb-2" src="' + apiURL + '/' + data.media_path + '" alt="' + data.first_name + ' ' + data.last_name + '" width="128" height="128" />' + '<h4 class="card-title mb-0">' + data.first_name + ' ' + data.last_name + '</h4>' + '<div class="text-muted mb-2">' + data.email + '</div>');
                            _this.find('input:hidden[name="id"]').val(data.id);
                            _this.find('input[name="first_name"]').val(data.first_name);
                            _this.find('input[name="last_name"]').val(data.last_name);
                            _this.find('input[name="address_1"]').val(data.address_1);
                            _this.find('input[name="address_2"]').val(data.address_2);
                            _this.find('select[name="city"]').append('<option value="' + data.city_code + '" selected>' + data.city_name + '</option>');
                            _this.find('select[name="province"]').append('<option value="' + data.province_code + '" selected>' + data.province_name + '</option>');
                            _this.find('select[name="country"]').append('<option value="' + data.country_code + '" selected>' + data.country_name + '</option>');
                            _this.find('input[name="landline"]').val(data.landline);
                            _this.find('input[name="mobile"]').val(data.mobile);
                        }
                    });

                    jqXHR.fail(function (jqXHR, textStatus, errorThrown) {
                        console.log('The following error occurred: ' + textStatus, errorThrown);
                    });
                }
            }

            // PUT: Update
            let update = {
                init: function () {
                    this.bindForm();
                },
                bindForm: function () {
                    $('#info').on('show.bs.modal', this.submitForm());
                },
                submitForm: function () {
                    $('#update-form').on('submit', function (e) {

                        let _this = $(this);
                        let id = _this.find('input:hidden[name="id"]').val();

                        let jqXHR = $.ajax({
                            url: baseURL + '/user/profile/update/id/' + id,
                            type: 'PUT',
                            dataType: 'json',
                            data: _this.serialize(),
                            cache: false,
                            processData: false,
                            beforeSend: function () {
                                _this.find('#ajax-preloader').preloader().show();
                                _this.find('.btn-change-state').attr('disabled', 'disabled');
                            }
                        });
                        
                        jqXHR.done(function (data) {
                            if (data.status === true) { // Show and append notif msg
                                $('#notif').modal('show').find('.modal-body p').text('Personal info has been updated');

                                // Hide notif after (x) number of seconds
                                setTimeout(function () {
                                    $('#notif').modal('hide');
                                }, 3000);
                            } else { // Error msg response
                                _this.find('#ajax-response').html('<div class="alert alert-danger"><ul>' + data.message + '</ul></div>');
                                (Boolean(data.first_name)) ? _this.find('#first-name').addClass('is-invalid') : _this.find('#first-name').removeClass('is-invalid');
                                (Boolean(data.last_name)) ? _this.find('#last-name').addClass('is-invalid') : _this.find('#last-name').removeClass('is-invalid');
                                (Boolean(data.address_1)) ? _this.find('#address-1').addClass('is-invalid') : _this.find('#address-1').removeClass('is-invalid');
                                (Boolean(data.address_2)) ? _this.find('#address-2').addClass('is-invalid') : _this.find('#address-2').removeClass('is-invalid');
                                (Boolean(data.city)) ? _this.find('span[aria-labelledby="select2-city-container"]').css({'border': '1px solid #d9534f'}) : _this.find('span[aria-labelledby="select2-city-container"]').removeAttr('style');
                                (Boolean(data.province)) ? _this.find('span[aria-labelledby="select2-province-container"]').css({'border': '1px solid #d9534f'}) : _this.find('span[aria-labelledby="select2-province-container"]').removeAttr('style');
                                (Boolean(data.country)) ? _this.find('span[aria-labelledby="select2-country-container"]').css({'border': '1px solid #d9534f'}) : _this.find('span[aria-labelledby="select2-country-container"]').removeAttr('style');
                                (Boolean(data.landline)) ? _this.find('#landline').addClass('is-invalid') : _this.find('#landline').removeClass('is-invalid');
                                (Boolean(data.mobile)) ? _this.find('#mobile').addClass('is-invalid') : _this.find('#mobile').removeClass('is-invalid');
                            }
                        });

                        jqXHR.always(function () {
                            _this.find('#ajax-preloader').preloader().hide();
                            _this.find('.btn-change-state').removeAttr('disabled');
                        });

                        jqXHR.fail(function (jqXHR, textStatus, errorThrown) {
                            console.log('The following error occurred: ' + textStatus, errorThrown);
                        });

                        e.preventDefault();
                    });
                }
            }

            getById.init();
            update.init();
        })
    </script>
{% endblock %}