{#
    File      : views/bible/index.html.twig
    Purpose   : bible/index view
    Created   : 6/03/2019 by Sherlock Holmes
    Updated   :
    Changes   :
#}

{% extends 'base.html.twig' %}
{% block title %} {{ page_title }} | Mount Carmel {% endblock %}
{% block contents %}
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-header text-center">
                    <h3 class="card-title">Bible - King James Version</h3>
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
{% endblock %}