
{#
    Filename    : carmelites.html.twig
    Location    : application/views/basilica/carmelite.html.twig
    Purpose     : Carmelites partial page
    Created     : 06/03/2019 12:31:51 by Spiderman
    Updated     : 10/31/2019 14:30:35 by Spiderman
    Changes     : 
#}

{% extends 'base.html.twig' %}

{% block title %} {{ page_title }} | Carmel {% endblock %}

{% block contents %}
    <div id="carmelites" class="row justify-content-center">
        <div id="ajax-preloader"></div>
        <div class="col-12 col-lg-10">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">{{ page_title }}</h3>
                </div>
                <div class="card-body">
                    <div id="ministers">
                        <!-- This is where the active ministers load -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_scripts %}
    <script>
        $(function () {

            let baseURL = $.fn.baseURL();
            let apiURL = $.fn.apiURL();
            let branchID = $.fn.branchID();  

            let app = {
                init: function() {
                    this.carmelites();
                },
                carmelites: function() {
                    let _this = $('#carmelites'); 
                        
                    let jqXHR = $.ajax({
                        url: apiURL + '/carmelites/?branch_id=' + branchID,
                        type: 'GET',
                        dataType: 'json',
                        data: _this.serialize(),
                        cache: false,
                        processData: false,
                        beforeSend: function () {
                            _this.find('#ajax-preloader').preloader().show();
                        }
                    });

                    jqXHR.done(function (data) {
                        if (data) {
                            _this.find('#ministers').html('<div class="row"></div>');
                            $.each(data.data, function (key, value) {
                                _this.find('#ministers .row').append(   
                                    '<div class="col-12 col-md-6 text-center">' +
                                    '    <figure class="figure">' +
                                    '        <img class="figure-img img-fluid rounded-circle" src="' + apiURL + '/' + value.media_path + '" alt="' + value.name + '">' +
                                    '        <figcaption class="figure-caption">' +
                                    '            <span class="figure-title text-uppercase">' + value.name + ', ' + value.congregation + '</span><br/>' + value.position +                                
                                    '        </figcaption>' +
                                    '    </figure>' +
                                    '</div>'
                                );
                            });
                        }
                    });

                    jqXHR.always(function () {
                        _this.find('#ajax-preloader').preloader().hide();
                    });

                    jqXHR.fail(function (jqXHR, textStatus, errorThrown) {
                        console.log('The following error occurred: ' + jqXHR.status, errorThrown);
                    });
                }
            }

            app.init();
        })
    </script>
{% endblock %}