{#
    Filename    : contact-details.html.twig
    Location    : application/views/basilica/contact-details.html.twig
    Purpose     : Contact details partial page
    Created     : 6/03/2019 by Spiderman
    Updated     : 7/01/2019 by Spiderman
    Changes     : Implement contacts API
#}

{% extends 'base.html.twig' %}
{% block title %} {{ page_title }} | Mount Carmel {% endblock %}
{% block contents %}
    <div id="contacts" class="row justify-content-center">
        <div class="col-12 col-lg-10">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">Parish Office</h3>
                </div>
                <div class="card-body">
                    <div id="details">
                        <!-- This is where the contact details load -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_scripts %}
    <script>
        $(function () {

            let baseURL = location.origin.toLowerCase() + '/mountcarmel.web';
            let apiURL = location.origin.toLowerCase() + '/mountcarmel.api';

            let app = {
                init: function () {
                    this.contacts();
                },
                // GET: Contacts
                contacts: function() {

                    let el = $('#contacts');
                    let data = el.serialize();

                    $.ajax({
                        url: apiURL + '/contacts/id/1',
                        type: 'GET',
                        dataType: 'json',
                        data: data,
                        cache: false,
                        processData: false,
                        success: function (data) {
                            if (data) {
                                el.find('#details').html(
                                    '<dl class="row">' +
                                    '<dt class="col-sm-6 text-right">Landline</dt>' +
                                    '<dd class="col-sm-6">' + data[0].landline + '</dd>' +
                                    '<dt class="col-sm-6 text-right">Mobile</dt>' +
                                    '<dd class="col-sm-6">' + data[0].mobile + '</dd>' +
                                    '<dt class="col-sm-6 text-right">Email Address</dt>' +
                                    '<dd class="col-sm-6">' + data[0].email + '</dd>' +
                                    '<dt class="col-sm-6 text-right">Social Media</dt>' +
                                    '<dd class="col-sm-6">' + data[0].social_media + '</dd>' +
                                    '</dl>'
                                );
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log('The following error occurred: ' + textStatus, errorThrown);
                        }
                    });
                }
            };

            app.init();
        })
    </script>
{% endblock %}