{#
    Filename    : contact-details.html.twig
    Location    : application/views/basilica/contact-details.html.twig
    Purpose     : Contact details partial page
    Created     : 6/03/2019 by Spiderman
    Updated     : 7/01/2019 by Spiderman
    Changes     : Implement contacts API
#}

{% extends 'base.html.twig' %}
{% block title %} {{ page_title }} | Mount Carmel {% endblock %}
{% block contents %}
    <div id="contacts" class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">Parish Office</h3>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-6 text-right">Landline</dt>
                        <dd id="landline" class="col-sm-6"></dd>

                        <dt class="col-sm-6 text-right">Mobile</dt>
                        <dd id="mobile" class="col-sm-6"></dd>

                        <dt class="col-sm-6 text-right">Email Address</dt>
                        <dd id="email" class="col-sm-6"></dd>

                        <dt class="col-sm-6 text-right">Social Media</dt>
                        <dd id="social" class="col-sm-6"></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_scripts %}
    <script>
        $(function () {
            let baseURL = location.origin.toLowerCase();
            let apiURL = 'https://api.mountcarmel.ph';

            // GET: Contacts
            let contacts = {
                init: function () {
                    this.displayContacts();
                },
                displayContacts: function() {
                    let el = $('#contacts');
                    let data = el.serialize();

                    $.ajax({
                        url: apiURL + '/contacts/id/1',
                        type: 'GET',
                        dataType: 'json',
                        data: data,
                        cache: false,
                        processData: false,
                        success: function (data) {
                            if (data) {
                                el.find('#landline').html(data[0].landline);
                                el.find('#mobile').html(data[0].mobile);
                                el.find('#email').html(data[0].email);
                                el.find('#social').html(data[0].social_media);
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log('The following error occurred: ' + textStatus, errorThrown);
                        }
                    });
                }
            };

            contacts.init();
        })
    </script>
{% endblock %}