{#
    Filename    : contact-details.html.twig
    Location    : application/views/basilica/contact-details.html.twig
    Purpose     : Contact details partial page
    Created     : 6/03/2019 by Sherlock Holmes
    Updated     : 6/28/2019 by Sherlock Holmes
    Changes     : Changed commenting format
#}

{% extends 'base.html.twig' %}
{% block title %} {{ page_title }} | Mount Carmel {% endblock %}
{% block contents %}
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">Parish Office</h3>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-6 text-right">Landline</dt>
                        <dd class="col-sm-6">(632) 7245938</dd>

                        <dt class="col-sm-6 text-right"></dt>
                        <dd class="col-sm-6">(632) 7015867</dd>

                        <dt class="col-sm-6 text-right"></dt>
                        <dd class="col-sm-6">(632) 7015868</dd>

                        <dt class="col-sm-6 text-right"></dt>
                        <dd class="col-sm-6">(632) 7015869</dd>

                        <dt class="col-sm-6 text-right">Mobile</dt>
                        <dd class="col-sm-6">0918-4077760</dd>

                        <dt class="col-sm-6 text-right"></dt>
                        <dd class="col-sm-6">0956-6583660</dd>

                        <dt class="col-sm-6 text-right">Email Address</dt>
                        <dd class="col-sm-6">basilica@mountcarmel.ph</dd>

                        <dt class="col-sm-6 text-right">Social Media</dt>
                        <dd class="col-sm-6">@mountcarmel.ph</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}