{#
    Filename    : contact-details.html.twig
    Location    : application/views/basilica/contact-details.html.twig
    Purpose     : Contact details partial page
    Created     : 06/03/2019 23:53:54 by Spiderman
    Updated     : 08/12/2019 23:53:49 by Spiderman
    Changes     : 
#}

{% extends 'base.html.twig' %}

{% block title %} {{ page_title }} | Mount Carmel {% endblock %}

{% block contents %}
    <div id="contacts" class="row justify-content-center">
        <div id="ajax-preloader"></div>
        <div class="col-12 col-lg-10">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">Parish Office</h3>
                </div>
                <div class="card-body">
                    <div id="details">
                        <!-- This is where the contact details load -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_scripts %}
    <script>
        $(function () {

            let baseURL = location.origin.toLowerCase() + '/mountcarmel.web';            
            let apiURL = location.origin.toLowerCase() + '/mountcarmel.api';  

            let app = {
                init: function () {
                    this.contacts();
                },
                // GET: Contacts
                contacts: function() {

                    let _this = $('#contacts');

                    let jqXHR = $.ajax({
                        url: apiURL + '/contacts/contact/?id=1',
                        type: 'GET',
                        dataType: 'json',
                        data: _this.serialize(),
                        cache: false,
                        processData: false,
                        beforeSend: function () {
                            _this.find('#ajax-preloader').preloader().show();
                        }
                    });

                    jqXHR.done(function (data) {
                        if (data) {
                            _this.find('#details').html(
                                '<dl class="row">' +
                                '<dt class="col-sm-6 text-right">Landline</dt>' +
                                '<dd class="col-sm-6">' + data.landline + '</dd>' +
                                '<dt class="col-sm-6 text-right">Mobile</dt>' +
                                '<dd class="col-sm-6">' + data.mobile + '</dd>' +
                                '<dt class="col-sm-6 text-right">Email Address</dt>' +
                                '<dd class="col-sm-6">' + data.email + '</dd>' +
                                '<dt class="col-sm-6 text-right">Social Media</dt>' +
                                '<dd class="col-sm-6">' + data.social_media + '</dd>' +
                                '</dl>'
                            );
                        }
                    });

                    jqXHR.always(function () {
                        _this.find('#ajax-preloader').preloader().hide();
                    });

                    jqXHR.fail(function (jqXHR, textStatus, errorThrown) {
                        console.log('The following error occurred: ' + textStatus, errorThrown);
                    });
                }
            };

            app.init();
        })
    </script>
{% endblock %}