{#
    Filename    : history.html.twig
    Location    : application/views/basilica/history.html.twig
    Purpose     : History partial page
    Created     : 6/03/2019 by Spiderman
    Updated     : 7/01/2019 by Spiderman
    Changes     : Implement history API
#}

{% extends 'base.html.twig' %}
{% block title %} {{ page_title }} | Mount Carmel {% endblock %}
{% block contents %}
    <div id="history" class="row">
        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">History</h3>
                </div>
                <div class="card-body">
                    <div id="content">
                        <!-- History -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">Details</h3>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-6 text-right">Date of Establishment</dt>
                        <dd id="dt-established" class="col-sm-6"></dd>

                        <dt class="col-sm-6 text-right">Feast Day</dt>
                        <dd id="feast-day" class="col-sm-6"></dd>

                        <dt class="col-sm-6 text-right">Titular</dt>
                        <dd id="titular" class="col-sm-6"></dd>

                        <dt class="col-sm-6 text-right">Diocese</dt>
                        <dd id="diocese" class="col-sm-6"></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_scripts %}
    <script>
        $(function () {
            let baseURL = location.origin.toLowerCase();
            let apiURL = 'https://api.mountcarmel.ph';

            // GET: History
            let history = {
                init: function () {
                    this.displayHistory();
                },
                displayHistory: function() {
                    let el = $('#history');
                    let data = el.serialize();

                    $.ajax({
                        url: apiURL + '/history',
                        type: 'GET',
                        dataType: 'json',
                        data: data,
                        cache: false,
                        processData: false,
                        success: function (data) {
                            if (data) {
                                el.find('#content').html(data[0].content);
                                el.find('#dt-established').html(data[0].date_of_establishment);
                                el.find('#feast-day').html(data[0].feast_day);
                                el.find('#titular').html(data[0].titular);
                                el.find('#diocese').html(data[0].diocese);
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log('The following error occurred: ' + textStatus, errorThrown);
                        }
                    });
                }
            };

            history.init();
        })
    </script>
{% endblock %}