{#
    Filename    : history.html.twig
    Location    : application/views/basilica/history.html.twig
    Purpose     : History partial page
    Created     : 6/03/2019 by Sherlock Holmes
    Updated     : 6/28/2019 by Sherlock Holmes
    Changes     : Changed commenting format
#}

{% extends 'base.html.twig' %}
{% block title %} {{ page_title }} | Mount Carmel {% endblock %}
{% block contents %}
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">History</h3>
                </div>
                <div class="card-body">
                    <p class="text-justify">
                        The Quezon City district of New Manila is a haven for various Catholic orders, with many chapels and convents scattered around the area; from the American colonial period (1898-1946) Convent of Carmel of Thérèse of Lisieux, the Sisters of St. Paul of Chartres Novitiate and Provincial House (established 1931), Franciscan St. Joseph’s Academy and Convent (established 1932), and the Society of the Divine Word’s Christ the King Mission Seminary (established 1933),
                        to the post-war Congregation of the Religious of the Virgin Mary Compound (established 1950), the Pink Sister’s St. Joseph Convent of Perpetual Adoration (established 1965), the Congregatio Immaculati Cordis Mariae’s Maryhill School Of The Theology (1979),the Local Superior of The Society of Monfort Missionaries(established 1984), and the Foundation for Carmelite Scholastics(established 1987). However, the center of most Catholic activities is the Minor
                        Basilica of the National Shrine of Our Lady of Mount Carmel, located on Broadway Avenue, taking most of the block between 4th and 5th street.
                    </p>
                    <p class="text-justify">
                        The Mount Carmel Parish is part of the third wave of Discalced Carmelites missions to the Philippines, which started in 1923, with the arrival of four French nuns from Hue, Vietnam, to the shores of Jaro, Iloilo. In this first wave, the Convent Carmel of Thérèse of Lisieux was founded in 1926, along Gilmore Avenue, in New Manila. The second wave also began in Infanta, Quezon Province, in 1946; and this time the Discalced Carmelite friars were now leading the
                        wave. Part of the third wave that started in Jaro, Iloilo, the Anglo-Irish Carmelite friars established a foundation in 1954, in New Manila, Quezon City, and on December 30 of the same year, the cornerstone was laid for the new church.
                    </p>
                    <p class="text-justify">
                        The new church was dedicated as a shrine to Our Lady of Mount Carmel, a title of the Blessed Virgin Mary, which the first Carmelites named in the construction of their first monastery on Mount Karmel (Har HaKarmel) in the northern territories of Israel, during the 12th Century. The order of Carmelite started with Christian hermits living in Har HaKarmel, during the Crusades, who chose the mountain where the prophet Elijah had lived and challenged the priests
                        of the god Baal, as a reflection of their faith against the Muslims who have taken over the holy city of Jerusalem. The old friary is built around the cave, which is believed to be where Elijah had stayed. The Marian incarnation the Carmelite hermits first sought patronage was the “Stella Maris” (Star of the Sea), as to guide them in their pious life. It was when Mary appear to the Carmelite monk, Saint Simon Stock (1165-1265), and showed him the Holy Scapular
                        as a means of salvation did Our Lady of Mount Carmel become a separate incarnation of the Blessed Virgin. In the Philippines, Our Lady of Mount Carmel patron of the cities of Manila, Malolos, and Quezon; the districts of Quiapo and New Manila; and the province of Bulacan.
                    </p>
                    <p class="text-justify">
                        The Catholic order of the Discalced Carmelites was established in 1593 by the Spaniards Saint John of the Cross (San Juan de la Cruz; 1542-1591) and Saint Teresa of Ávila, also called Saint Teresa of Jesus (1515-1582), as part of the Catholic Church’s Counter Reformation. An emphasis to the devotion to these founding saints was emphasized in the Mount Carmel Parish, with the installation of two sculptures of the saints, near the entrance of the church, in
                        2004. The erection of these sculptures was part of the church’s celebration of the Golden Jubilee of the founding of church. There are also icons of the two saints at the transepts of the church.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">Details</h3>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-6 text-right">Date of Establishment</dt>
                        <dd class="col-sm-6">17 February 1975</dd>

                        <dt class="col-sm-6 text-right">Feast Day</dt>
                        <dd class="col-sm-6">16 July</dd>

                        <dt class="col-sm-6 text-right">Titular</dt>
                        <dd class="col-sm-6">Our Lady of Mt. Carmel</dd>

                        <dt class="col-sm-6 text-right">Diocese</dt>
                        <dd class="col-sm-6">Cubao</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}