{#
    Filename    : mass-schedule.html.twig
    Location    : application/views/basilica/mass-schedule.html.twig
    Purpose     : Mass schedule partial page
    Created     : 06/03/2019 14:55:43 by Spiderman
    Updated     : 10/29/2019 20:21:05 by Spiderman
    Changes     : 
#}

{% extends 'base.html.twig' %}

{% block title %} {{ page_title }} | Carmel {% endblock %}

{% block contents %}
    <div id="schedules" class="row">
        <div id="ajax-preloader"></div>
        <!-- Holy Mass -->
        <div class="col-12 col-lg-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Holy Mass</h3>
                </div>
                <div class="card-body">
                    <div id="holy-mass">
                        <!-- This is where the holy mass schedules load -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Confessions -->
        <div class="col-12 col-lg-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Confessions</h3>
                </div>
                <div class="card-body">
                    <div id="confessions">
                        <!-- This is where the confessions schedules load -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Blessings -->
        <div class="col-12 col-lg-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title mb-2">Blessings</h3>
                    <h4 class="card-subtitle">of cars and religious items</h4>
                </div>
                <div class="card-body">
                    <div id="blessings">
                        <!-- This is where the blessing schedules load -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Live Mass -->
        <div class="col-12 col-lg-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Live Mass</h3>
                </div>
                <div class="card-body">
                    <div id="live-mass">
                        <!-- This is where the live mass schedules load -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_scripts %}
    <script>
        $(function () {

            let baseURL = $.fn.baseURL();
            let apiURL = $.fn.apiURL();
            let branchID = $.fn.branchID();

            let app = {
                init: function () {
                    this.holyMass();
                    this.confessions();
                    this.blessings();
                    this.liveMass();
                },
                holyMass: function() {
                    let _this = $('#schedules');

                    let jqXHR = $.ajax({
                        url: apiURL + '/schedules/?branch_id=' + branchID + '&type_id=99',
                        type: 'GET',
                        dataType: 'json',
                        data: _this.serialize(),
                        cache: false,
                        processData: false,
                        beforeSend: function () {
                            _this.find('#ajax-preloader').preloader().show();
                        }
                    });

                    jqXHR.done(function (data) {
                        if (data) {
                            _this.find('#holy-mass').append(
                                '<h4>Sundays</h4>' +
                                '<ul class="card-text list-unstyled sundays"></ul>' +
                                '<h4>Weekdays</h4>' +
                                '<ul class="card-text list-unstyled weekdays"></ul>'
                            );

                            $.each(data, function (key, value) {
                                if (value.day === 'Sundays') {
                                    _this.find('#holy-mass .sundays').append('<li>' + moment(value.time_from, 'hh:mm:ss').format('LT') + ' - ' + moment(value.time_to, 'hh:mm:ss').format('LT') + ' ' + '(' + value.language + ')' + '</li>');
                                }

                                if (value.day === 'Weekdays') {
                                   _this.find('#holy-mass .weekdays').append('<li>' + moment(value.time_from, 'hh:mm:ss').format('LT') + ' - ' + moment(value.time_to, 'hh:mm:ss').format('LT') + ' ' + '(' + value.language + ')' + '</li>');
                                }
                            });
                        }
                    });

                    jqXHR.always(function () {
                        _this.find('#ajax-preloader').preloader().hide();
                    });

                    jqXHR.fail(function (jqXHR, textStatus, errorThrown) {
                        console.log('The following error occurred: ' + jqXHR.status, errorThrown);
                    });
                },
                confessions: function() {
                    let _this = $('#schedules');

                    let jqXHR = $.ajax({
                        url: apiURL + '/schedules/?branch_id=' + branchID + '&type_id=100',
                        type: 'GET',
                        dataType: 'json',
                        data: _this.serialize(),
                        cache: false,
                        processData: false,
                        beforeSend: function () {
                            _this.find('#ajax-preloader').preloader().show();
                        }
                    });

                    jqXHR.done(function (data) {
                        if (data) {
                            _this.find('#confessions').append(
                                '<h4>Saturdays</h4>' +
                                '<ul class="card-text list-unstyled saturdays"></ul>' +
                                '<h4>Sundays</h4>' +
                                '<ul class="card-text list-unstyled sundays"></ul>' +
                                '<h4>Weekdays</h4>' +
                                '<ul class="card-text list-unstyled weekdays"></ul>'
                            );

                            $.each(data, function (key, value) {
                                if (value.day === 'Saturdays') {
                                    _this.find('#confessions .saturdays').append('<li>' + moment(value.time_from, 'hh:mm:ss').format('LT') + ' - ' + moment(value.time_to, 'hh:mm:ss').format('LT') + ' ' + '(' + value.language + ')' + '</li>');
                                } 

                                if (value.day === 'Sundays') {
                                    _this.find('#confessions .sundays').append('<li>' + moment(value.time_from, 'hh:mm:ss').format('LT') + ' - ' + moment(value.time_to, 'hh:mm:ss').format('LT') + ' ' + '(' + value.language + ')' + '</li>');
                                }

                                if (value.day === 'Weekdays') {
                                    _this.find('#confessions .weekdays').append('<li>' + moment(value.time_from, 'hh:mm:ss').format('LT') + ' - ' + moment(value.time_to, 'hh:mm:ss').format('LT') + ' ' + '(' + value.language + ')' + '</li>');
                                }
                            });
                        }
                    });

                    jqXHR.always(function () {
                        _this.find('#ajax-preloader').preloader().hide();
                    });

                    jqXHR.fail(function (jqXHR, textStatus, errorThrown) {
                        console.log('The following error occurred: ' + jqXHR.status, errorThrown);
                    });
                },
                blessings: function() {
                    let _this = $('#schedules');

                    let jqXHR = $.ajax({
                        url: apiURL + '/schedules/?branch_id=' + branchID + '&type_id=101',
                        type: 'GET',
                        dataType: 'json',
                        data: _this.serialize(),
                        cache: false,
                        processData: false,
                        beforeSend: function () {
                            _this.find('#ajax-preloader').preloader().show();
                        }
                    });

                    jqXHR.done(function (data) {
                        if (data) {
                            _this.find('#blessings').append(
                                '<h4>Everyday</h4>' +
                                '<ul class="card-text list-unstyled everyday"></ul>'
                            );

                            $.each(data, function (key, value) {
                                _this.find('#blessings .everyday').append('<li>' + moment(value.time_from, 'hh:mm:ss').format('LT') + ' - ' + moment(value.time_to, 'hh:mm:ss').format('LT') + ' ' + '(' + value.language + ')' + '</li>');
                            });
                        }
                    });

                    jqXHR.always(function () {
                        _this.find('#ajax-preloader').preloader().hide();
                    });

                    jqXHR.fail(function (jqXHR, textStatus, errorThrown) {
                        console.log('The following error occurred: ' + jqXHR.status, errorThrown);
                    });
                },
                liveMass: function() {
                    let _this = $('#schedules');

                    let jqXHR = $.ajax({
                        url: apiURL + '/schedules/?branch_id=' + branchID + '&type_id=102',
                        type: 'GET',
                        dataType: 'json',
                        data: _this.serialize(),
                        cache: false,
                        processData: false,
                        beforeSend: function () {
                            _this.find('#ajax-preloader').preloader().show();
                        }
                    });

                    jqXHR.done(function (data) {
                        if (data) {
                            _this.find('#live-mass').append(
                                '<h4>Saturdays</h4>' +
                                '<ul class="card-text list-unstyled saturdays"></ul>' +
                                '<h4>Sundays</h4>' +
                                '<ul class="card-text list-unstyled sundays"></ul>'
                            );

                            $.each(data, function (key, value) {
                                if (value.day === 'Saturdays') {
                                    _this.find('#live-mass .saturdays').append('<li>' + moment(value.time_from, 'hh:mm:ss').format('LT') + ' - ' + moment(value.time_to, 'hh:mm:ss').format('LT') + ' ' + '(' + value.language + ')' + '</li>');
                                }

                                if (value.day === 'Sundays') {
                                    _this.find('#live-mass .sundays').append('<li>' + moment(value.time_from, 'hh:mm:ss').format('LT') + ' - ' + moment(value.time_to, 'hh:mm:ss').format('LT') + ' ' + '(' + value.language + ')' + '</li>');
                                }
                            });
                        }
                    });

                    jqXHR.always(function () {
                        _this.find('#ajax-preloader').preloader().hide();
                    });

                    jqXHR.fail(function (jqXHR, textStatus, errorThrown) {
                        console.log('The following error occurred: ' + jqXHR.status, errorThrown);
                    });
                }
            }

            app.init();
        })
    </script>
{% endblock %}