{#
    File      : views/management/prayer-request.html.twig
    Purpose   : management/prayer_request view
    Created   : 6/04/2019 by Band Aid
    Updated   :
    Changes   :
#}

{% extends 'base.html.twig' %}
{% block title %} {{ page_title }} | Mount Carmel {% endblock %}
{% block contents %}
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-header text-center">
                    <h3 class="card-title">Prayer Request</h3>
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
{% endblock %}