{#
    Filename    : contacts.html.twig
    Location    : application/views/admin/contacts.html.twig
    Purpose     : Contacts partial page
    Created     : 07/23/2019 11:49:05 by Scarlet Witch
    Updated     : 10/25/2019 19:01:05 by Spiderman
    Changes     : 
#}

{% extends 'admin/base.html.twig' %}

{% block title %} {{ page_title }} | Carmel {% endblock %}

{% block contents %}
    <div id="contact" class="row">
        <div class="col-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    <h3 class="card-title">{{ page_title }}</h3>
                </div>
                <form id="update-form">
                    <div class="card-body">
                        <div id="ajax-preloader"></div>
                        <div id="ajax-response"></div>
                        <input type="hidden" name="id">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="description" name="description" rows="2" maxlength="255"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="address1">Address 1</label>
                            <input type="text" class="form-control" id="address1" name="address1">
                        </div>
                        <div class="form-group">
                            <label for="address2">Address 2</label>
                            <input type="text" class="form-control" id="address2" name="address2">
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-4">
                                <div class="form-group">
                                    <label for="city">City</label>
                                    <select class="form-control" id="city" name="city">
                                        <!-- This is where the city load -->
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="form-group">
                                    <label for="province">Province</label>
                                    <select class="form-control" id="province" name="province">
                                        <!-- This is where the province load -->
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="form-group">
                                    <label for="country">Country</label>
                                    <select class="form-control" id="country" name="country">
                                        <!-- This is where the country load -->
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label for="landline">Landline</label>
                                    <textarea class="form-control" id="landline" name="landline" rows="2" maxlength="255"></textarea>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label for="mobile">Mobile</label>
                                    <textarea class="form-control" id="mobile" name="mobile" rows="2" maxlength="255"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" name="email">
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-lg btn-brown rounded-pill px-5 btn-change-state">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_scripts %}
    <script>
        $(function () {

            let baseURL = $.fn.baseURL();
            let apiURL = $.fn.apiURL();
            let branchID = $.fn.branchID();
            let isProcessing = false;

            // GET: Display by id
            let getById = {
                init: function() {
                    this.displayForm();
                },
                displayForm: function() {
                    let _this = $('#contact');

                    let jqXHR = $.ajax({
                        url: baseURL + '/admin/contact/contact/?branch_id=' + branchID,
                        type: 'GET',
                        dataType: 'json',
                        data: _this.serialize(),
                        cache: false,
                        processData: false,
                        beforeSend: function () {
                            _this.find('#ajax-preloader').preloader().show();
                        }
                    });

                    jqXHR.done(function (data) {
                        if (data) {
                            // Populate form
                            _this.find('input:hidden[name="id"]').val(data.id);
                            _this.find('input[name="name"]').val(data.name);
                            _this.find('textarea[name="description"]').text(data.description);
                            _this.find('input[name="address1"]').val(data.address1);
                            _this.find('input[name="address2"]').val(data.address2);                                    
                            _this.find('select[name="city"]').append('<option value="' + data.city_code + '" selected>' + data.city_name + '</option>'); 
                            _this.find('select[name="province"]').append('<option value="' + data.province_code + '" selected>' + data.province_name + '</option>'); 
                             _this.find('select[name="country"]').append('<option value="' + data.country_code + '" selected>' + data.country_name + '</option>'); 
                            _this.find('textarea[name="landline"]').text(data.landline);
                            _this.find('textarea[name="mobile"]').text(data.mobile);
                            _this.find('input[name="email"]').val(data.email);
                        }
                    });

                    jqXHR.always(function () {
                        _this.find('#ajax-preloader').preloader().hide();
                    });

                    jqXHR.fail(function (jqXHR, textStatus, errorThrown) {
                        console.log('The following error occurred: ' + textStatus, errorThrown);
                    });
                   
                }
            }

            // PUT: Update
            let update = {
                init: function() {
                    this.submitForm();
                },
                submitForm: function() {
                    $('#update-form').on('submit', function(e){
                        
                        let _this = $(this);

                        let id = _this.find('input:hidden[name="id"]').val();
                    
                        let jqXHR = $.ajax({
                            url: baseURL + '/admin/contact/update/id/' + id,
                            type: 'PUT',
                            dataType: 'json',
                            data: _this.serialize(),
                            cache: false,
                            processData: false,
                            beforeSend: function() {
                                _this.find('#ajax-preloader').preloader().show();
                                _this.find('.btn-change-state').attr('disabled', 'disabled');
                            }
                        });

			            jqXHR.done(function(data) {
                            if (data.status === true) {

                                // Show and append notif msg  
                                $('#notif').modal('show').find('.modal-body p').text('Contact has been updated');
                                    
                                // Hide notif after (x) number of seconds 
                                setTimeout(function(){ 
                                    $('#notif').modal('hide');
                                }, 3000);
                            } else {
                                 // Error msg response
                                _this.find('#ajax-response').html('<div class="alert alert-danger"><ul>' + data.message + '</ul></div>');
                                (Boolean(data.name)) ? _this.find('#name').addClass('is-invalid') : _this.find('#name').removeClass('is-invalid');  
                                (Boolean(data.description)) ? _this.find('#description').addClass('is-invalid') : _this.find('#description').removeClass('is-invalid');  
                                (Boolean(data.address1)) ? _this.find('#address1').addClass('is-invalid') : _this.find('#address1').removeClass('is-invalid');  
                                (Boolean(data.address2)) ? _this.find('#address2').addClass('is-invalid') : _this.find('#address2').removeClass('is-invalid');  
                                (Boolean(data.city)) ? _this.find('span[aria-labelledby="select2-city-container"]').css({'border':'1px solid #d9534f'}) : _this.find('span[aria-labelledby="select2-city-container"]').removeAttr('style');  
                                (Boolean(data.province)) ? _this.find('span[aria-labelledby="select2-province-container"]').css({'border':'1px solid #d9534f'}) : _this.find('span[aria-labelledby="select2-province-container"]').removeAttr('style');
                                (Boolean(data.country)) ? _this.find('span[aria-labelledby="select2-country-container"]').css({'border':'1px solid #d9534f'}) : _this.find('span[aria-labelledby="select2-country-container"]').removeAttr('style');
                                (Boolean(data.landline)) ? _this.find('#landline').addClass('is-invalid') : _this.find('#landline').removeClass('is-invalid');  
                                (Boolean(data.mobile)) ? _this.find('#mobile').addClass('is-invalid') : _this.find('#mobile').removeClass('is-invalid');    
                                (Boolean(data.email)) ? _this.find('#email').addClass('is-invalid') : _this.find('#email').removeClass('is-invalid');  
                            }
                        });

                        jqXHR.always(function () {
                            _this.find('#ajax-preloader').preloader().hide();
                            _this.find('.btn-change-state').removeAttr('disabled');
                        });

                        jqXHR.fail(function (jqXHR, textStatus, errorThrown) {
                            console.log('The following error occurred: ' + textStatus, errorThrown);
                        });

                        e.preventDefault();
                    });
                }
            }

            getById.init();
            update.init();
        })
    </script>
{% endblock %}