{#
    Filename    : index.html.twig
    Location    : application/views/admin/index.html.twig
    Purpose     : Admin partial page
    Created     : 6/27/2019 by Sherlock Holmes
    Updated     : 
    Changes     : 
#}

{% extends 'admin/base.html.twig' %}
{% block title %} {{ page_title }} | Mount Carmel {% endblock %}
{% block contents %}
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <!-- content here -->
        </div>
    </div>
{% endblock %}