{#
    Filename    : posts.html.twig
    Location    : application/views/admin/posts.html.twig
    Purpose     : Posts partial page
    Created     : 07/03/2019 19:30:07 by Spiderman
    Updated     : 07/05/2019 15:13:02 by Spiderman
    Changes     : Page renamed to posts
#}

{% extends 'admin/base.html.twig' %}
{% block title %} {{ page_title }} | Mount Carmel {% endblock %}
{% block contents %}
    <div class="row">
        <div id="media" class="col-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                <div class="row">
                    <div class="col-6">
                        <h3 class="card-title mb-2">{{ page_title }}</h3>
                        <h4 class="card-subtitle">{{ page_subtitle }}</h4>
                    </div>
                    <div class="col-6">
                        <a class="btn btn-brown mt-2 float-right" href="#create" data-toggle="modal" data-toggle="tooltip" data-placement="top" target="_blank" title="Add New Post">Add New Post</a>
                    </div>
                </div>
                </div>
                <div class="card-body">
                    <table id="datatables-basic" class="table table-striped" width="100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Posted on</th>
                                <th>Updated on</th>
                                <th>Author</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_scripts %}
    <script>
        $(function () {

            let baseURL = location.origin.toLowerCase() + '/mountcarmel.web';

            // GET: List of News
            let newsList = {
                init: function () {
                    this.displayNewsList();
                },
                displayNewsList: function () {

                    let el = $('#datatables-basic');

                    el.DataTable({
                        "processing": true,
                        "serverSide": false,
                        "ajax": {
                            "url": baseURL + "/admin/posts/posts",
                            "type": "GET"
                        },
                        "columns": [
                            {
                                "searchable": false,
                                "data": null
                            },
                            {"data": "title"},
                            {
                                "data": "posted_on",
                                "mRender": function (data) {
                                    return moment(data);
                                }
                            },
                            {"data": "updated_on"},
                            {"data": "author"},
                            {
                                "searchable": false,
                                "data": "id",
                                "mRender": function (data) {
                                    return '<a data-toggle="modal" data-param="' + data + '" data-toggle="tooltip" data-placement="top" title="Update" href="#update"><i class="align-middle material-icons md-22">mode_edit</i></a>';
                                }
                            },
                            {
                                "searchable": false,
                                "data": "id",
                                "mRender": function (data) {
                                    return '<a data-toggle="modal" data-param="' + data + '" data-toggle="tooltip" data-placement="top" title="Delete" href="#delete"><i class="align-middle material-icons md-22">remove_circle_outline</i></a>';
                                }
                            }
                        ],
                        "lengthMenu": [[10, 25, 50, 75, 100], [10, 25, 50, 75, 100]],
                        "order": [[2, "desc"]],
                        "columnDefs": [
                            {"orderable": false, "targets": [0, 5, 6]}
                        ],
                        "fnCreatedRow": function (row, data, index) {
                            $('td', row).eq(0).html(index + 1);
                        },
                        "responsive": true,
                        "language": {
                            "decimal": "",
                            "emptyTable": "No data available in table",
                            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                            "infoEmpty": "Showing 0 to 0 of 0 entries",
                            "infoFiltered": "(filtered from _MAX_ total entries)",
                            "infoPostFix": "",
                            "thousands": ",",
                            "lengthMenu": "Show _MENU_ entries",
                            "loadingRecords": "Loading...",
                            "processing": "Processing...",
                            "search": "Search:",
                            "zeroRecords": "No matching records found",
                            "paginate": {
                                "first": "First",
                                "last": "Last",
                                "next": "Next",
                                "previous": "Previous"
                            },
                            "aria": {
                                "sortAscending": ": activate to sort column ascending",
                                "sortDescending": ": activate to sort column descending"
                            }
                        }
                    });
                }
            }

            newsList.init();
        })
    </script>
{% endblock %}