{#
    Filename    : posts.html.twig
    Location    : application/views/admin/posts.html.twig
    Purpose     : Posts partial page
    Created     : 07/03/2019 19:30:07 by Spiderman
    Updated     : 07/05/2019 15:13:02 by Spiderman
    Changes     : Page renamed to posts
#}

{% extends 'admin/base.html.twig' %}
{% block title %} {{ page_title }} | Mount Carmel {% endblock %}
{% block contents %}
    <div class="row">
        <div id="media" class="col-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="clearfix">
                        <form class="form-inline float-right mt-1 d-none d-md-flex">
                            <a class="btn btn-brown mr-2" data-toggle="modal" href="#create">
                                <i class="align-middle" data-feather="plus"></i> Add New Post
                            </a>
                            <a id="reload" class="btn btn-brown" href="javascript:void(0)">
                                <i class="align-middle" data-feather="rotate-ccw"></i> Reload
                            </a>
                        </form>
                        <h3 class="card-title mb-2">{{ page_title }}</h3>
                        <h4 class="card-subtitle">{{ page_subtitle }}</h4>
                    </div>
                </div>
                <div class="card-body">
                    <table id="datatables-basic" class="table table-striped" width="100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Posted on</th>
                                <th>Updated on</th>
                                <th>Author</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_scripts %}
    <script>
        $(function () {

            let baseURL = location.origin.toLowerCase() + '/mountcarmel.web';

            // GET: Posts
            let posts = {
                init: function () {
                    this.displayPosts();
                    this.displayPost();
                    this.reloadPosts();
                },
                displayPosts: function () {

                    let el = $('#datatables-basic');

                    el.DataTable({
                        "processing": true,
                        "serverSide": false,
                        "ajax": {
                            "url": baseURL + "/admin/posts/posts",
                            "type": "GET"
                        },
                        "columns": [
                            {
                                "searchable": false,
                                "data": null
                            },
                            {"data": "title"},
                            {
                                "data": "posted_on",
                                "mRender": function (data) {
                                    return moment(data);
                                }
                            },
                            {"data": "updated_on"},
                            {"data": "author"},
                            {
                                "searchable": false,
                                "data": "id",
                                "mRender": function (data) {
                                    return '<a data-toggle="modal" data-param="' + data + '" data-toggle="tooltip" data-placement="top" title="Update" href="#update"><i class="align-middle material-icons md-22">mode_edit</i></a>';
                                }
                            },
                            {
                                "searchable": false,
                                "data": "id",
                                "mRender": function (data) {
                                    return '<a data-toggle="modal" data-param="' + data + '" data-toggle="tooltip" data-placement="top" title="Delete" href="#delete"><i class="align-middle material-icons md-22">remove_circle_outline</i></a>';
                                }
                            }
                        ],
                        "lengthMenu": [[10, 25, 50, 75, 100], [10, 25, 50, 75, 100]],
                        "order": [[2, "desc"]],
                        "columnDefs": [
                            {"orderable": false, "targets": [0, 5, 6]}
                        ],
                        "fnCreatedRow": function (row, data, index) {
                            $('td', row).eq(0).html(index + 1);
                        },
                        "responsive": true,
                        "language": {
                            "decimal": "",
                            "emptyTable": "No data available in table",
                            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                            "infoEmpty": "Showing 0 to 0 of 0 entries",
                            "infoFiltered": "(filtered from _MAX_ total entries)",
                            "infoPostFix": "",
                            "thousands": ",",
                            "lengthMenu": "Show _MENU_ entries",
                            "loadingRecords": "Loading...",
                            "processing": "Processing...",
                            "search": "Search:",
                            "zeroRecords": "No matching records found",
                            "paginate": {
                                "first": "First",
                                "last": "Last",
                                "next": "Next",
                                "previous": "Previous"
                            },
                            "aria": {
                                "sortAscending": ": activate to sort column ascending",
                                "sortDescending": ": activate to sort column descending"
                            }
                        }
                    });
                },
                displayPost: function() {
                    $('#update').on('show.bs.modal', function (e) {
                        let el = $(this);
                        let btn = el.find('#btn-change-state');
                        let id = $(e.relatedTarget).data('param');
                        let data = el.serialize();

                        $.ajax({
                            url: baseURL + '/admin/posts/post/id/' + id,
                            type: 'GET',
                            dataType: 'json',
                            data: data,
                            cache: false,
                            processData: false,
                            beforeSend: function () {
                                el.find('#ajax-preloader').html(
                                    '<div class="loader">' +
                                    '  <svg class="circular" viewBox="25 25 50 50">' +
                                    '    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>' +
                                    '  </svg>' +
                                    '</div>').show();
                                btn.attr('disabled', 'disabled');
                            },
                            complete: function () {
                                el.find('#ajax-preloader').html(
                                    '<div class="loader">' +
                                    '  <svg class="circular" viewBox="25 25 50 50">' +
                                    '    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>' +
                                    '  </svg>' +
                                    '</div>').hide('fast');
                                btn.removeAttr('disabled');
                            },
                            success: function (data) {
                                if (data) {
                                    // Populate form
                                    el.find('input:hidden[name="id"]').val(data.id);
                                    el.find('input[name="title"]').val(data.title);
                                    el.find('.ql-editor').html(data.content);
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                console.log('The following error occurred: ' + textStatus, errorThrown);
                            }
                        });
                    });
                },
                reloadPosts: function () {
                    $('#reload').on('click', function (e) {
                        $('#datatables-basic').DataTable().ajax.reload(null, true); // user paging will reset on reload				                                
                        e.preventDefault();
                    })
                }
            }

            posts.init();

            let toolbarOptions = [
                ['bold', 'italic', 'underline', 'strike', 'link'],  // toggled buttons
                [{ 'list': 'ordered'}, { 'list': 'bullet' }],       // list
                ['blockquote'],                                     // qoute
                ['image', 'video'],                                 // embeds
                ['clean']                                           // remove formatting button
            ];

            let quill = new Quill('#editor', {
                modules: { 
                    toolbar: toolbarOptions 
                },
                theme: 'snow',
                placeholder: 'Compose here...'
            });

            $('.ql-editor').addClass('js-simplebar');

            // Sample post
            // https://quilljs.com/playground/#form-submit

        })
    </script>
{% endblock %}