{#
    Filename    : index.html.twig
    Location    : application/views/home/index.html.twig
    Purpose     : Home partial page
    Created     : 06/03/2019 22:55:25 by Spiderman
    Updated     : 11/06/2019 11:30:02 by Scarlet Witch
    Changes     : updated the Redirect to selected branch added the selected branch
#}

{% extends 'base.html.twig' %}

{% block title %} {{ page_title }} | Carmel {% endblock %}

{% block contents %}
    <div class="row justify-content-center">
        <div id="splash-ads" class="col-12 col-md-12 col-lg-12">
            <div id="carousel" class="carousel slide shadow-lg" data-ride="carousel">
                <ol class="carousel-indicators">
                    <!-- Splash indicators -->
                </ol>
                <div class="carousel-inner">
                    <!-- Splash ads -->
                </div>
                <a class="carousel-control-prev" data-slide="prev" href="#carousel" role="button">
                    <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" data-slide="next" href="#carousel" role="button">
                    <span aria-hidden="true" class="carousel-control-next-icon"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <div class="modal fade" id="branches" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="signupModalModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="signupModalTitle">Carmel Branch Locations</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <form>
                    <div class="modal-body px-5">
                        <div class="logo text-center mb-4">
                            <img src="{{ base_url('public/assets/images/brands/mount-carmel-logo.svg') }}" alt="Mount Carmel Logo"/>
                        </div>
                        <div id="ajax-preloader"></div>
                        <div class="form-group">
                            <label for="location-id">Location</label>
                            <select class="custom-select" id="location-id" name="location_id">
                                <option value="" selected>&dash;</option>
                                <!-- This is where the locations load -->
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="branch-id">Branch</label>
                            <select class="custom-select" id="branch-id" name="branch_id">
                                <option value="" selected>&dash;</option>
                                <!-- This is where the branches load -->
                            </select>
                        </div>       
                        <hr>
                        <div id="current-branch">
                            <p class="text-center">
                                <!-- This is where the current branch load -->
                            </p> 
                        </div>     
                    </div> 
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_scripts %}
    <script>
        $(function () {

            let baseURL = $.fn.baseURL();
            let apiURL = $.fn.apiURL();
            let branchID = $.fn.branchID();

            let app = {
                init: function () {
                    this.ads();
                    this.cascadingBranchLocation();
                    this.currentBranch();
                    this.branchModal();
                },
                ads: function () {
                    let _this = $('#splash-ads');

                    let jqXHR = $.ajax({
                        url: apiURL + '/ads/?branch_id=' + branchID + '&type_id=112',
                        type: 'GET',
                        dataType: 'json',
                        data: _this.serialize(),
                        cache: false,
                        processData: false,
                    });

                    jqXHR.done(function (data) {
                        if (data) {
                            $.each(data, function (key, value) {
                                _this.find('.carousel-inner').append(
                                    '<div class="carousel-item">' + 
                                    '   <a href="' + value.url + '" title="' + value.brand_name + '" target="_blank">' + 
                                    '       <img class="d-block img-fluid" src="' + apiURL + '/' + value.media_path + '" alt="' + value.brand_name + '">' + 
                                    '   </a>' + 
                                    '</div>');
                                _this.find('.carousel-indicators').append('<li data-target="#carousel" data-slide-to="' + key + '"></li>');
                                _this.find('.carousel-inner > .carousel-item').first().addClass('active');
                                _this.find('.carousel-indicators > li').first().addClass('active');
                                _this.find('.carousel').carousel({interval: 10000});
                            });
                        } 
                    });

                    jqXHR.fail(function (jqXHR, textStatus, errorThrown) {
                        console.log('The following error occurred: ' + jqXHR.status, errorThrown);
                    });
                },
                cascadingBranchLocation: function () {
                    let location = $('select[name="location_id"]');
                    let branch = $('select[name="branch_id"]');

                    $.get(apiURL + '/branch_locations', function (data) {
                        $.each(data.data, function (key, value) {
                             location.append('<option value="' + value.id + '">' + value.name + '</option>');
                        });
                    });

                    location.on('change', function() {
                        // Reset/Empty the branch dropdown
                        branch.find('option').remove();
                        branch.html('<option value="" selected>&dash;</option>');

                        $.get(apiURL + '/branches/branch_location/?location_id=' + location.find("option:selected").val(), function (data) {
                            $.each(data.data, function (key, value) {
                                branch.append('<option value="' + value.id + '">' + '(' + value.order_name + ')' + ' ' + value.name + '</option>');
                            
                                // Redirect to selected branch
                                branch.on('change', function() {
                                    $.get(apiURL + '/branches/branch/?id=' + branch.find("option:selected").val(), function (data) {
                                    window.location.replace(data.url);
                                    });                                                                     
                                });
                            });                            
                        });
                    });
                },
                
                currentBranch: function () {
                    $.get(apiURL + '/branches/branch/?id=' + branchID, function (data) {
                        $('#current-branch').find('p').append(
                            'You are currently in: <br/>' +
                            '<a href="' + data.url + '" target="_self">' + data.name + '</a>'
                        );
                    });
                },
                branchModal: function() {
                    $('#branches').modal();
                }
            };

            app.init();
        })
    </script>
{% endblock %}
