{#
    Filename    : live-mass.html.twig
    Location    : application/views/home/live-mass.html.twig
    Purpose     : Live mass partial page
    Created     : 06/03/2019 16:29:39 by Spiderman
    Updated     : 10/25/2019 16:24:02 by Spiderman
    Changes     : 
#}

{% extends 'base.html.twig' %}

{% block title %} {{ page_title }} | Carmel {% endblock %}

{% block contents %}
    <div id="live-mass" class="row">
        <div id="ajax-preloader"></div>
        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">{{ page_title }} <i class="indicator indicator-online"></i></h3>
                </div>
                <div class="card-body">
                    <div id="video-container">
                        <!-- This is where the live stream load -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">{{ page_subtitle }}</h3>
                </div>
                <div class="card-body">
                    <div id="mass-schedules">
                        <!-- This is where the live mass schedules load -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_scripts %}
    <script>
        $(function () {

            let baseURL = $.fn.baseURL();
            let apiURL = $.fn.apiURL();
            let branchID = $.fn.branchID();

            let app = {
                init: function () {
                    this.liveStream();
                    this.liveMassSchedules();
                },
                liveStream: function() {
                    let _this = $('#live-mass');

                    let jqXHR = $.ajax({
                        url: apiURL + '/live_streams/live_stream/?branch_id=' + branchID + '&id=1',
                        type: 'GET',
                        dataType: 'json',
                        data: _this.serialize(),
                        cache: false,
                        processData: false,
                        beforeSend: function () {
                            _this.find('#ajax-preloader').preloader().show();
                        }
                    });

                    jqXHR.done(function (data) {
                        if (data) {
                             _this.find('#video-container').append(
                                '<div class="embed-responsive embed-responsive-16by9">' +
                                '    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/' + data.video_id + '" allowfullscreen></iframe>' +
                                '</div>'
                            );
                        }
                    });

                    jqXHR.always(function () {
                        _this.find('#ajax-preloader').preloader().hide();
                    });

                    jqXHR.fail(function (jqXHR, textStatus, errorThrown) {
                        console.log('The following error occurred: ' + jqXHR.status, errorThrown);
                    });
                },
                liveMassSchedules: function() {
                    let _this = $('#live-mass');

                    let jqXHR = $.ajax({
                        url: apiURL + '/schedules/?branch_id=' + branchID + '&type_id=102',
                        type: 'GET',
                        dataType: 'json',
                        data: _this.serialize(),
                        cache: false,
                        processData: false,
                        beforeSend: function () {
                            _this.find('#ajax-preloader').preloader().show();
                        }
                    });

                    jqXHR.done(function (data) {
                        if (data) {
                            _this.find('#mass-schedules').append(
                                '<h4>Saturdays</h4>' +
                                '<ul class="card-text list-unstyled saturdays"></ul>' +
                                '<h4>Sundays</h4>' +
                                '<ul class="card-text list-unstyled sundays"></ul>'
                            );

                            $.each(data, function (key, value) {
                                (value.day === 'Saturdays') ? _this.find('.saturdays').append('<li>' + moment(value.time_from, 'hh:mm:ss').format('LT') + ' - ' + moment(value.time_to, 'hh:mm:ss').format('LT') + ' ' + '(' + value.language + ')' + '</li>') : _this.find('.sundays').append('<li>' + moment(value.time_from, 'hh:mm:ss').format('LT') + ' - ' + moment(value.time_to, 'hh:mm:ss').format('LT') + ' ' + '(' + value.language + ')' + '</li>');
                            });
                        }
                    });

                    jqXHR.always(function () {
                        _this.find('#ajax-preloader').preloader().hide();
                    });

                    jqXHR.fail(function (jqXHR, textStatus, errorThrown) {
                        console.log('The following error occurred: ' + jqXHR.status, errorThrown);
                    });
                }
            }

            app.init();
        })
    </script>
{% endblock %}