{#
    Filename    : live-mass.html.twig
    Location    : application/views/home/live-mass.html.twig
    Purpose     : Live mass partial page
    Created     : 06/03/2019 16:29:39 by Spiderman
    Updated     : 08/20/2019 18:57:31 by Spiderman
    Changes     : 
#}

{% extends 'base.html.twig' %}
{% block title %} {{ page_title }} | Mount Carmel {% endblock %}
{% block contents %}
    <div class="row">
        <div id="video-container" class="col-12 col-lg-8">
            <!-- This is where the live stream load -->
        </div>
        <div class="col-12 col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Live Mass <i class="indicator indicator-online"></i></h3>
                </div>
                <div class="card-body">
                    <h4>Sundays</h4>
                    <ul class="card-text list-unstyled">
                        <li>6:00 AM - 7:00 AM</li>
                        <li>7:00 AM - 8:00 AM</li>
                        <li>6:00 PM - 7:00 PM</li>
                        <li>7:00 PM - 8:00 PM</li>
                    </ul>
                    <h4>Saturdays</h4>
                    <ul class="card-text list-unstyled">
                        <li>6:00 AM - 7:00 AM</li>
                        <li>7:00 AM - 8:00 AM</li>
                        <li>6:00 PM - 7:00 PM</li>
                        <li>7:00 PM - 8:00 PM</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_scripts %}
    <script>
        $(function () {

            let baseURL = location.origin.toLowerCase() + '/mountcarmel.web';
            let apiURL = location.origin.toLowerCase() + '/mountcarmel.api';

            let app = {
                init: function () {
                    this.stream();
                },
                // GET: Stream
                stream: function() {

                    let _this = $('#video-container');

                    let jqXHR = $.ajax({
                        url: apiURL + '/live_streams/?branch_id=1',
                        type: 'GET',
                        dataType: 'json',
                        data: _this.serialize(),
                        cache: false,
                        processData: false
                    });

                    jqXHR.done(function (data) {
                        if (data) {
                             _this.append(
                                '<div class="card">' +
                                '   <div class="card-body">' +
                                '       <div class="embed-responsive embed-responsive-16by9">' +
                                '           <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/' + data.video_id + '" allowfullscreen></iframe>' +
                                '       </div>' +
                                '   </div>' +
                                '</div>'
                            );
                        }
                    });

                    jqXHR.fail(function (jqXHR, textStatus, errorThrown) {
                        console.log('The following error occurred: ' + textStatus, errorThrown);
                    });
                }
            };

            app.init();
        })
    </script>
{% endblock %}