{#
    Filename    : news.html.twig
    Location    : application/views/home/news.html.twig
    Purpose     : News partial page
    Created     : 06/03/2019 13:29:55 by Spiderman
    Updated     : 07/29/2019 14:11:03 by Spiderman
    Changes     : 
#}

{% extends 'base.html.twig' %}

{% block title %} {{ page_title }} | Mount Carmel {% endblock %}

{% block contents %}
    <div class="row">
        <div id="media" class="col-12 col-lg-8">
            <!-- This is where the news feeds load -->
        </div>
        <div id="ads" class="col-12 col-lg-4">
             <!-- This is where the ads load -->
        </div>
    </div>
{% endblock %}

{% block custom_scripts %}
    <script>
        $(function () {

            let baseURL = location.origin.toLowerCase() + '/mountcarmel.web';
            let apiURL = location.origin.toLowerCase() + '/mountcarmel.api';

            let app = {
                init: function() {
                    this.news(); // GET: News feeds
                    this.ads(); // GET: Advertisements
                },          
                news: function () {

                    let el = $('#media');
                    let data = el.serialize();

                    $.ajax({
                        url: apiURL + '/posts',
                        type: 'GET',
                        dataType: 'json', 
                        data: data,
                        cache: false,
                        processData: false,
                        success: function (data) {
                            if (data) {
                                $.each(data.data, function (key, value) {
                                    el.append(
                                        '<div class="card">' +
                                        '   <div class="card-body">' +
                                        '       <div class="media">' +
                                        '           <div class="media-body">' +
                                        '               <small class="float-right text-navy">' + moment(value.posted_on, "YYYY-MM-DD h:mm:ss").fromNow() + '</small>' +
                                        '               <div class="media-title">' +
                                        '                   <p class="text-center mb-0">' +
                                        '                       <a href="' + baseURL + "/news/id/" + value.id + '" target="_self">' + value.title + '</a>' +
                                        '                   </p>' +
                                        '               </div>' +
                                        '               <div class="media-article">' +
                                        '                  <div class="cover-photo">' +
                                        '                     <img class="img-fluid" src="' + apiURL + '/' + value.cover_photo + '" alt="' + value.title + '"/>' +
                                        '                  </div>' +
                                        '                  <div class="media-content fade-out-ellipses p-0">' + value.content + '</div>' +
                                        '               </div>' +
                                        '               <div class="read-more">' +
                                        '                   <p class="text-center mb-0">' +
                                        '                      <a class="btn btn-lg btn-brown rounded-pill px-5" href="' + baseURL + "/news/id/" + value.id + '" target="_self">Read More</a>' +
                                        '                   </p>' +
                                        '               </div>' +
                                        '           </div>' +
                                        '       </div>' +
                                        '   </div>' +
                                        '</div>'
                                    );
                                });
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log('The following error occurred: ' + textStatus, errorThrown);
                        }
                    });
                },
                ads: function() {

                    let el = $('#ads');
                    let data = el.serialize();

                    $.ajax({
                        url: apiURL + '/ads',
                        type: 'GET',
                        dataType: 'json',
                        data: data,
                        cache: false,
                        processData: false,
                        success: function (data) {
                            if (data) {
                                el.html(
                                    '<div class="card">' +
                                    '   <div class="card-header">' +
                                    '       <h4 class="card-title text-center">Powered By</h4>' + 
                                    '   </div>' +             
                                    '   <div class="card-body">' +             
                                    '       <div class="row"></div>' +
                                    '   </div>' +
                                    '</div>'
                                );
                                $.each(data.data, function (key, value) {
                                    el.find('.row').append(
                                        '<div class="col-12 text-center mb-2">' +
                                            '<img class="img-fluid mx-auto d-block" style="max-height: 200px; display: block;" src="' + apiURL + '/' + value.full_path + '" alt="' + value.name + '"/>' +
                                        '</div>'
                                    );
                                });
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log('The following error occurred: ' + textStatus, errorThrown);
                        }
                    });
                }
            };

            app.init();
        })
    </script>
{% endblock %}