{#
    Filename    : news.html.twig
    Location    : application/views/home/news.html.twig
    Purpose     : News partial page
    Created     : 6/03/2019 by Spiderman
    Updated     : 7/01/2019 by Spiderman
    Changes     : Implement advertisement API
#}

{% extends 'base.html.twig' %}
{% block title %} {{ page_title }} | Mount Carmel {% endblock %}
{% block contents %}
    <div class="row">
        <div id="media" class="col-12 col-lg-8">
            <!-- News and updates -->
        </div>
        <div class="col-12 col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title text-center">Powered By</h4>
                </div>
                <div class="card-body">
                    <div id="ads" class="row">
                        <!-- Advertisements -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_scripts %}
    <script>
        $(function () {
            let baseURL = location.origin.toLowerCase();
            let apiURL = 'https://api.mountcarmel.ph';

            // GET: Posts
            let posts = {
                init: function () {
                    this.displayPosts();
                },
                displayPosts: function () {
                    let el = $('#media');
                    let data = el.serialize();

                    $.ajax({
                        url: apiURL + '/posts',
                        type: 'GET',
                        dataType: 'json',
                        data: data,
                        cache: false,
                        processData: false,
                        success: function (data) {
                            if (data) {
                                $.each(data, function (key, value) {
                                    el.append(
                                        '<div class="card">' +
                                        '   <div class="card-body">' +
                                        '       <div class="media">' +
                                        '           <div class="media-body">' +
                                        '               <small class="float-right text-navy">' + moment(value.posted_on, "YYYY-MM-DD h:mm:ss").fromNow() + '</small>' +
                                        '               <div class="media-title">' +
                                        '                   <p class="text-center mb-0">' +
                                        '                       <a href="' + baseURL + "/news/id/" + value.id + '" target="_self">' + value.title + '</a>' +
                                        '                   </p>' +
                                        '               </div>' +
                                        '               <div class="media-article">' +
                                        '                  <div class="cover-photo">' +
                                        '                     <img class="img-fluid" src="' + apiURL + '/' + value.cover_photo + '" alt=""/>' +
                                        '                  </div>' +
                                        '                  <div class="media-content fade-out-ellipses p-0">' + value.content + '</div>' +
                                        '               </div>' +
                                        '               <div class="read-more">' +
                                        '                   <p class="text-center mb-0">' +
                                        '                      <a class="btn btn-lg btn-brown rounded-pill px-5" href="' + baseURL + "/news/id/" + value.id + '" target="_self">Read More</a>' +
                                        '                   </p>' +
                                        '               </div>' +
                                        '           </div>' +
                                        '       </div>' +
                                        '   </div>' +
                                        '</div>'
                                    );
                                });
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log('The following error occurred: ' + textStatus, errorThrown);
                        }
                    });
                }
            };

            // GET: Ads
            let ads = {
                init: function () {
                    this.displayAds();
                },
                displayAds: function() {
                    let el = $('#ads');
                    let data = el.serialize();

                    $.ajax({
                        url: apiURL + '/ads',
                        type: 'GET',
                        dataType: 'json',
                        data: data,
                        cache: false,
                        processData: false,
                        success: function (data) {
                            if (data) {
                                $.each(data, function (key, value) {
                                    el.append(
                                        '<div class="col-12 text-center">' +
                                            '<img class="img-fluid" src="' + apiURL + '/' + value.cover_photo + '" alt="Company Logo"/>' +
                                        '</div>'
                                    );
                                });
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log('The following error occurred: ' + textStatus, errorThrown);
                        }
                    });
                }
            };

            posts.init();
            ads.init();
        })
    </script>
{% endblock %}