{#
    File      : views/services/confirmation.html.twig
    Purpose   : services/confirmation view
    Created   : 6/04/2019 by Band Aid
    Updated   :
    Changes   :
#}

{% extends 'base.html.twig' %}
{% block title %} {{ page_title }} | Mount Carmel {% endblock %}
{% block contents %}
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">Confirmation</h3>
                </div>
                <div class="card-body">
                    <p class="text-center mb-0">
                        Duis accumsan nibh justo, eu eleifend nisi mattis ut. Nullam congue iaculis
                        auctor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis
                        nec vulputate arcu. Ut facilisis ligula a blandit bibendum. Etiam maximus
                        nisi non elementum viverra. Proin metus est, porttitor eu feugiat sit amet,
                        varius vel ligula. Sed tempor condimentum porta. Donec hendrerit gravida est
                        at tempor. Suspendisse porttitor lectus sed nisi interdum, luctus vulputate
                        mauris ullamcorper. Mauris sit amet ante sem.
                    </p>
                </div>
                <div class="card-footer">
                    <p class="text-center mb-0">
                        <a class="btn btn-lg btn-brown rounded-pill px-5" href="services-confirmation.html">Make a Request</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}