{#
    File      : views/services/events.html.twig
    Purpose   : services/events view
    Created   : 6/04/2019 by Constantina
    Updated   : 6/17/2019 7:36 PM by Constantina
    Changes   : add services messages/content
#}

{% extends 'base.html.twig' %}
{% block title %} {{ page_title }} | Mount Carmel {% endblock %}
{% block contents %}
    <div class="row">
        <div class="col-12 col-lg-4 mb-4">
            <div class="list-group" id="list-tab" role="tablist">
                <div class="list-group-item list-group-item-action">
                    <div class="service">
                        <i class="icon-events icon-96 sienna m-0 p-0"></i>
                    </div>
                    <div class="service-info">
                        <div class="title">Events</div>
                        <div class="desc text-left">
                            Celebrate marriage or events in the delightful premises of the church
                        </div>
                    </div>
                </div>
                <a class="list-group-item list-group-item-action active" id="list-events-list" data-toggle="list" href="#list-events" role="tab" aria-controls="events">Father Mark Horan Hall - Venue</a>
            </div>
        </div>
        <div class="col-12 col-lg-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-events" role="tabpanel" aria-labelledby="list-events-list">
                    <div class="card">
                        <div class="card-body px-6">
                            <p class="text-center">
                                Father Mark Horan Hall Service Agreement
                            </p>
                            <p class="text-center">
                                Version 1
                            </p>

                            <div class="alert alert-light-brown sienna mx-7" role="alert">
                                <div class="alert-message">
                                    <h4 class="alert-heading">1. Event and Duration</h4>
                                    <ul>
                                        <a>a. Father Mark Horan Hall is available for wedding reception, baptismal, birthday celebration and anniversary celebration.</a>
                                        <br>
                                        <a>b. Client are given a maximum of 3 hours for the use of the Father Mark Horan Hall. Set up time is only 2 hours before the actual time of event.</a>
                                    </ul>
                                </div>
                            </div>

                            <p class="text-center mb-0">You may settle your bill using your debit card, credit card or cash.</p>
                        </div>
                        <div class="card-footer">
                            <p class="text-center mb-0">
                                <a class="btn btn-lg btn-brown rounded-pill px-5" href="javascript:void(0)" data-toggle="modal" data-target="#acceptanceModal">Accept</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Acceptance modal #}
    <div class="modal fade" id="acceptanceModal" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="acceptanceModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="acceptanceModalTitle">Events</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body p-lg-5">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-brown rounded-pill px-5" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}