{#
    File      : views/services/events.html.twig
    Purpose   : services/events view
    Created   : 6/04/2019 by Constantina
    Updated   : 6/19/2019 3:26 PM by Constantina
    Changes   : Update sub modules content
#}

{% extends 'base.html.twig' %}
{% block title %} {{ page_title }} | Mount Carmel {% endblock %}
{% block contents %}
    <div class="row">
        <div class="col-12 col-lg-4 mb-4">
            <div class="list-group" id="list-tab" role="tablist">
                <div class="list-group-item list-group-item-action">
                    <div class="service">
                        <i class="icon-events icon-96 sienna m-0 p-0"></i>
                    </div>
                    <div class="service-info">
                        <div class="title">Events</div>
                        <div class="desc text-left">
                            Celebrate marriage or events in the delightful premises of the church
                        </div>
                    </div>
                </div>
                <a class="list-group-item list-group-item-action active" id="list-events-list" data-toggle="list" href="#list-events" role="tab" aria-controls="events">Father Mark Horan Hall - Venue</a>
            </div>
        </div>
        <div class="col-12 col-lg-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-events" role="tabpanel" aria-labelledby="list-events-list">
                    <div class="card">
                        <div class="card-body px-6">
                            <p class="text-center">
                                Father Mark Horan Hall Service Agreement
                            </p>
                            <p class="text-center">
                                Version 1
                            </p>

                            <div class="alert alert-light-brown sienna mx-7" role="alert">
                                <div class="alert-message">
                                    <a>1. Event and Duration</a>
                                    <ul>
                                        <ul>
                                            <a>a. Father Mark Horan Hall is available for wedding reception, baptismal, birthday celebration and anniversary celebration.</a>
                                        </ul>
                                        <ul>
                                            <p>b. Client are given a maximum of 3 hours for the use of the Father Mark Horan Hall. Set up time is only 2 hours before the actual time of event.</p>
                                        </ul>
                                    </ul>

                                    <a>2. Reservation Fee and Full Payment</a>
                                    <ul>
                                        <ul>
                                            <a>a. Reservation fee of 50% will be accepted upon agreement of terms and conditions. Reservation fee is non-refundable but deductible on remaining balance.</a>
                                        </ul>
                                        <ul>
                                            <p>b. All fees should be settled 2 weeks before the event. Booking 1 week prior to the event, payment must be in full.</p>
                                        </ul>
                                    </ul>

                                    <h4 class="alert-heading">Service package rates:</h4>
                                    <ul>
                                        <li>Whole area package 1</li>
                                        <ul>
                                            <li>300 tiffany chairs</li>
                                            <li>30 tables</li>
                                            <li>30,000 php</li>
                                            <li>2,000 php/excess hour</li>
                                        </ul>
                                    </ul>
                                    <br>
                                    <ul>
                                        <li>Whole area package 2</li>
                                        <ul>
                                            <li>300 monoblock chairs</li>
                                            <li>30 tables</li>
                                            <li>27,500 php</li>
                                            <li>2,000 php/excess hour</li>
                                        </ul>
                                    </ul>

                                    <br>
                                    <ul>
                                        <li>Half area package 1</li>
                                        <ul>
                                            <li>120 tiffany chairs</li>
                                            <li>12 tables</li>
                                            <li>23,000 php</li>
                                            <li>1,000 php/excess hour</li>
                                        </ul>
                                    </ul>

                                    <br>
                                    <ul>
                                        <li>Half area package 2</li>
                                        <ul>
                                            <li>120 monoblock chairs</li>
                                            <li>12 tables</li>
                                            <li>20,000 php</li>
                                            <li>1,000 php/excess hour</li>
                                        </ul>
                                    </ul>

                                    <br>
                                    <ul>
                                        <li>Quarter area package 1</li>
                                        <ul>
                                            <li>80 tiffany chairs</li>
                                            <li>8 tables</li>
                                            <li>15,000 php</li>
                                            <li>500 php/excess hour</li>
                                        </ul>
                                    </ul>

                                    <br>
                                    <ul>
                                        <li>Quarter area package 2</li>
                                        <ul>
                                            <li>80 monoblock chairs</li>
                                            <li>8 tables</li>
                                            <li>10,000 php</li>
                                            <li>500 php/excess hour</li>
                                        </ul>
                                    </ul>

                                    <br>
                                    <p>All areas include the use of air conditioner, built-in sound system, ample parking space, clean toilet, LCD projector, and electricity for photo booth and maximum of 2 food carts.</p>

                                    <a>3. Reserved Date</a>
                                    <ul>
                                        <ul>
                                            <a>a. Reserved date is non-movable.</a>
                                        </ul>
                                        <ul>
                                            <p>b. In the event wherein the client requests for a transfer of his/her reservation to another date or transfer his/her reservation to a member of his/her family, the client is requested to submit a letter of intent addressed to the superior of the shrine. If the superior allows the trasfer, the client will be charged for an additional 50% of the down payment made on his/her previous reservation as penalty.</p>
                                        </ul>
                                    </ul>

                                    <a>4. Lights and Sounds</a>
                                    <ul>
                                        <ul>
                                            <a>a. The services provided by the management include the sound system and the lights for the Father Mark Horan Hall. Other use of electricity-consuming gadgets may be allowed only with the prior approval of the management, such as photo booth, use of LCD projector, lights of more than 1,000 watts. Corresponding fees are to be determined by the management.</a>
                                        </ul>
                                        <ul>
                                            <p>b. Clients may bring their own sound system but no fees will be deducted from the contract package. Live band may be allowed but without drums.</p>
                                        </ul>
                                    </ul>

                                    <a>5. Safety and Security</a>
                                    <ul>
                                        <ul>
                                            <a>a. The client has the full responsibility toward the safety and security of their guests.</a>
                                        </ul>
                                        <ul>
                                            <p>b. The client and their guests are reminded to secure their valuables at all times. Management shall be free from any liability arising from any unforeseen events such as theft, robbery, accident, and any natural or man-made calamities that may cause harm to the client, their guests and their belongings before, during and after their function at the Father Mark Horan Hall.</p>
                                        </ul>
                                    </ul>

                                    <a>6. Damages</a>
                                    <ul>
                                        <ul>
                                            <p>a. Should there result in any damage to property incurred by the client or guests within the Father Mark Horan Hall, the cost thereof, or reasonable replacement cost shall be accounted for by the client.</p>
                                        </ul>
                                    </ul>

                                    <a>7. Power Outage</a>
                                    <ul>
                                        <ul>
                                            <p>a. In the event of power outage or brownout, there will be a stand-by generator which will provide power for lights, fans and some outlets but not the air conditioning units.</p>
                                        </ul>
                                    </ul>

                                    <p>There will be no refund if the Father Mark Horan Hall was booked with air conditioning.</p>

                                    <a>8. Catering Service</a>
                                    <ul>
                                        <ul>
                                            <a>a. The client may bring in catering service provider of their choice, all accredited and unaccredited catering service providers must abide with the regulations and policies regarding the use of Father Mark Horan Hall.</a>
                                        </ul>
                                        <ul>
                                            <p>b. The management shall be free from any legal suit and liability with regards to the services rendered by the catering service provider, including issues such as food poisoning and sanitation.</p>
                                        </ul>
                                    </ul>

                                    <a>9. Ground Rules</a>
                                    <ul>
                                        <ul>
                                            <a>a. Doves and butterflies are not allowed inside the Father Mark Horan Hall.</a>
                                        </ul>
                                        <ul>
                                            <a>b. Use of kerosene or gas torch is strictly prohibited inside Father Mark Horan Hall.</a>
                                        </ul>
                                        <ul>
                                            <a>c. Swag and drape clothing are strictly prohibited.</a>
                                        </ul>
                                        <ul>
                                            <a>d. Party poppers are not allowed inside the Father Mark Horan Hall.</a>
                                        </ul>
                                        <ul>
                                            <p>e. Clients are allowed to bring a maximum of 6 cases of liquor such as Pale Pilsen, Red Horse, San Mig Light,or the same kind only.</p>
                                        </ul>
                                    </ul>

                                    <a>10. General Provision</a>
                                    <ul>
                                        <ul>
                                            <a>a. The client shall hold the management free from any liability whatsoever for the use of the Father Mark Horan Hall.</a>
                                        </ul>
                                        <ul>
                                            <p>b. The client's event coordinator must abide with all the rules and regulations. They shall inform the mamagement for any requests 2 weeks prior to the event. Any such requests may be declined without necessity of explanation.</p>
                                        </ul>
                                    </ul>

                                </div>
                            </div>

                        </div>
                        <div class="card-footer">
                            <p class="text-center mb-0">
                                <a class="btn btn-lg btn-brown rounded-pill px-5" href="javascript:void(0)" data-toggle="modal" data-target="#acceptanceModal">Accept</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Acceptance modal #}
    <div class="modal fade" id="acceptanceModal" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="acceptanceModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="acceptanceModalTitle">Events</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body p-lg-5">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-brown rounded-pill px-5" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}