{#
    Filename    : marriage.html.twig
    Location    : application/views/services/marriage.html.twig
    Purpose     : Marriage partial page
    Created     : 6/03/2019 by Sherlock Holmes
    Updated     : 6/28/2019 by Sherlock Holmes
    Changes     : Changed commenting format
#}

{% extends 'base.html.twig' %}
{% block title %} {{ page_title }} | Mount Carmel {% endblock %}
{% block contents %}
    <div class="row">
        <div class="col-12 col-lg-4 mb-4">
            <div class="list-group" id="list-tab" role="tablist">
                <div class="list-group-item list-group-item-action">
                    <div class="service">
                        <i class="icon-marriage icon-96 sienna m-0 p-0"></i>
                    </div>
                    <div class="service-info">
                        <div class="title">Marriage</div>
                        <div class="desc text-left">
                            Duis accumsan nibh justo, eu eleifend nisi mattis ut. Nullam congue iaculis
                            auctor.
                        </div>
                    </div>
                </div>
                <a class="list-group-item list-group-item-action active" id="list-marriage-list" data-toggle="list" href="#list-marriage" role="tab" aria-controls="marriage">Marriage</a>
            </div>
        </div>
        <div class="col-12 col-lg-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-marriage" role="tabpanel" aria-labelledby="list-marriage-list">
                    <div class="card">
                        <div class="card-body px-6">
                            <p class="text-center">
                                Wedding Rules and Regulations Agreement
                            </p>
                            <p class="text-center">
                                Version 1
                            </p>

                            <div class="alert alert-light-brown sienna mx-7" role="alert">
                                <div class="alert-message">
                                    <a>1. Reservation Fee and Full Payment</a>
                                    <ul>
                                        <ul>
                                            <a>a. Wedding should be arranged and scheduled at least 6 months before the wedding date.</a>
                                        </ul>
                                        <ul>
                                            <a>b. Reserved date is non-movable and non-transferrable.</a>
                                        </ul>
                                        <ul>
                                            <a>c. Reservation fee of 10,000 php will be accepted upon agreement of contract and National Shrine of Our Lady of Mount Carmel Rules and Regulations. Reservation fee is non-refundable but deductible on remaining balance.</a>
                                        </ul>
                                        <ul>
                                            <p>d. All fees should be settled 2 months before the wedding date.</p>
                                        </ul>
                                    </ul>

                                        <p>Wedding package includes use of the church, officiating priest, flowers with tulle, wedding candles or candles for secondary sponsors, wedding usherette, wedding commentator, altar server, red carpet, use of electricity for videos, pre-cana seminar and air conditioned holding area for the bride and choir.</p>

                                    <h4 class="alert-heading">Wedding package rates:</h4>
                                    <ul>
                                        <li>January to November rate</li>
                                        <ul>
                                            <li>29,000 php</li>
                                        </ul>
                                        <li>December rate</li>
                                        <ul>
                                            <li>34,000 php</li>
                                        </ul>
                                    </ul>

                                    <br>
                                    <a>2. Wedding Requirements</a>
                                    <ul>
                                        <ul>
                                            <p>a. All requirements must be completed or accomplished at least 1 month before the wedding date exempting bride and groom under special cases which requires a permit from the Chancery Office of the Diocese of Cubao.</p>
                                        </ul>
                                        <ul>
                                            <a>Wedding cases the need to secure a permit:</a>
                                                <ul>
                                                    <a>i. Mixed marriage (marriage between a Catholic and a non-Catholic or marriage between a Filipino or a foreigner)</a>
                                                </ul>
                                                <ul>
                                                    <a>ii. Overseas Filipino working or living abroad for more than 2 years</a>
                                                </ul>
                                                <ul>
                                                    <p>iii. With previous marriage (civilly or in the Roman Catholic church)</p>
                                                </ul>
                                        </ul>
                                        <ul>
                                            <p>b. We reserve the right to cancel a wedding if the requirements were not completed.</p>
                                        </ul>
                                        <ul>
                                            <p>c. Authorized representatives designated by the bride and groom are duty-bound to comply with the National Shrine of Our Lady of Mount Carmel Rules and Regulations Agreement and will be held responsible for the cancellation of the event for failure to submit all the needed requirements.</p>
                                        </ul>
                                        <ul>
                                            <p>d. National Shrine of Our Lady of Mount Carmel will not be responsible for any correction, fines and penalties that may be required on the marriage certificate already filed with the Quezon City Hall, Civil Registry after its entries were verified by the couple. Likewise, the Shrine is not liable if the couple fail to check their marriage contract as required.</p>
                                        </ul>
                                    </ul>

                                        <a>3. Cancellation</a>
                                        <ul>
                                            <ul>
                                                <a>a. In case of cancellation, a written advice must be submitted, otherwise the couple will have to pay the balance due.</a>
                                            </ul>
                                            <ul>
                                                <a>b. Reservation fee, full-payment, and additional fees made will be forfeited.</a>
                                            </ul>
                                            <ul>
                                                <p>c. Unclaimed documents will be disposed by the National Shrine of Our Lady of Mount Carmel within 2 months from the day of notice or from the wedding date.</p>
                                            </ul>
                                        </ul>

                                        <a>4. Punctuality</a>
                                        <ul>
                                            <ul>
                                                <a>a. The bride and groom, and the whole entourage including the soloist, singers and organist must be at the church premises 30 minutes before their wedding schedule.</a>
                                            </ul>
                                            <ul>
                                                <a>b. The allotted time for the wedding ceremony is 1 hour and 30 minutes only. Wedding ceremony are as follows, 15 minutes for the entrance procession of the wedding entourage; 45 minutes for the wedding liturgy; 15 minutes for pictorial, 15 minutes for the recessional of the wedding entourage. The wedding entourage should be exiting 15 minutes before the end of their time slot.</a>
                                            </ul>
                                            <ul>
                                                <p>c. If the bride, groom or the members of the entourage are late for 15 minutes, there will be no Prayers of the Faithful and Offertory Procession; if they are late for 30 minutes, there will be no Homily, Prayers of the Faithful and Offertory Procession; if they are late for 45 minutes, only the Wedding Rite outside the Mass will be celebrated.</p>
                                            </ul>
                                        </ul>

                                        <a>5. Wedding Entourage</a>
                                        <ul>
                                            <ul>
                                                <a>a. Bearers and flower girls should be 5 years old and above since they will not need the assistance of parents or guardian when marching down the aisle, which is usually the reason behind the delay of the ceremony.</a>
                                            </ul>
                                            <ul>
                                                <a>b. Only 5 pairs of principal sponsors are normally allowed. An additional fee of 500 php per person will be charged in excess of the 5 pairs of sponsors.</a>
                                            </ul>
                                            <ul>
                                                <p>c. The bride and groom must assign persons for the First and Second Reading, Responsorial Psalm and Prayers of the Faithful. Commentator will be provided by the church.</p>
                                            </ul>
                                        </ul>

                                        <a>6. Officiating Priest</a>
                                        <ul>
                                            <ul>
                                                <a>a. The bride and groom should inform the parish office 2 months before their wedding if they have their own officiating priest. If no advice was given, the invited priest will only be allowed to concelebrate with the assigned priest.</a>
                                            </ul>
                                            <ul>
                                                <a>b. For own priest, a photocopy of the priest Celebret ID, Certificate of Registration of Authority to Solemnize Marriage (CRASM) and appointment or endorsement letter from the Bishop is required.</a>
                                            </ul>
                                            <ul>
                                                <a>c. The Rector/Parish Priest has the right to approve or disapprove permission of the invited priest presider.</a>
                                            </ul>
                                            <ul>
                                                <p>d. In case of mixed marriages, the Shrine will not allow any form of rite, ceremony, or speeches to be conducted by other sects or religions.</p>
                                            </ul>
                                        </ul>

                                        <a>7. Solemnity and Wedding Dress Etiquette</a>
                                        <ul>
                                            <ul>
                                                <a>a. To preserve the solemnity of the wedding ceremony, all electronic gadgets are requested to be turned off or set to silent mode. Bride and groom should advice their respective entourages to refrain from unnecessary conversations and movements.</a>
                                            </ul>
                                            <ul>
                                                <a>b. The attire of the entire marriage entourage should be proper for church decorum. Provocative dresses like strapless, backless, spaghetti strap, bare midriff and off-the-shoulder dresses must be covered by a shawl jacket. We discourage above-the-knee length or miniskirt dresses.</a>
                                            </ul>
                                            <ul>
                                                <p>c. The National Shrine of Our Lady of Mount Carmel has the right to refuse any member of the entourage who are not properly dressed to join the entrance entourage.</p>
                                            </ul>
                                        </ul>

                                        <a>8. Offertory</a>
                                        <ul>
                                            <ul>
                                                <a>a. Recommended list of items to be offered during the wedding are basket of fruits, mass wine and pack of hosts only.</a>
                                            </ul>
                                            <ul>
                                                <a>b. The bride and groom should assign two persons for the cruets and ciborium which will be provided by the shrine.</a>
                                            </ul>
                                            <ul>
                                                <p>c. Offertory procession may be cancelled if time constraints to give priority to the more essential parts of the mass.</p>
                                            </ul>
                                        </ul>

                                        <a>9. Church Decoration</a>
                                        <ul>
                                            <ul>
                                                <a>a. A simple yet elegant flower decoration in the aisle complete with tulle shall be provided by the shrine. All flower arrangement will be handled by the shrine’s in-house florist.</a>
                                            </ul>
                                            <ul>
                                                <a>b. For an additional floral arrangement, the bride and groom should submit a design arrangement for approval of the Rector/Parish Priest. Arrangement shall be done accordingly by the shrine’s in-house florist.</a>
                                            </ul>
                                            <ul>
                                                <a>c. During Lent, no flower decoration is allowed in the altar. The bride and groom are to be reminded that wedding events should respect the special nature of this liturgical season; they should refrain from much pomp or display.</a>
                                            </ul>
                                            <ul>
                                                <p>d. There will be no deduction in the wedding package rate for the flower arrangement if the bride and groom booked their wedding on Lenten season.</p>
                                            </ul>
                                        </ul>

                                        <a>10. Wedding Music</a>
                                        <ul>
                                            <ul>
                                                <a>a. Music for the whole ceremony is included in the package.</a>
                                            </ul>
                                            <ul>
                                                <a>b. During mass, singing may be done only during entrance, offertory, our Father, communion, recessional and photo sessions.</a>
                                            </ul>
                                            <ul>
                                                <p>c. The invited singer or musician should only render songs and music approved by the Rector/Parish Priest.</p>
                                            </ul>
                                        </ul>

                                        <a>11. Photographers and Videographers</a>
                                        <ul>
                                            <ul>
                                                <a>a. The bride and groom must properly endorse the photographers and videographers that will cover the whole wedding ceremony. The 2 photographers and 2 video personnel must be advised that they are required to attend the orientation seminar before their wedding coverage.</a>
                                            </ul>
                                            <ul>
                                                <a>b. Photographers and videographers not following the shrine’s instructions will be blacklisted.</a>
                                            </ul>
                                            <ul>
                                                <p>c. Guests of the couples who likewise want to take pictures or videos are allowed but they must remain in their seats.</p>
                                            </ul>
                                        </ul>

                                        <a>12. Church Assistance</a>
                                        <ul>
                                            <ul>
                                                <a>a. The shrine coordinator shall assist during the wedding for further instructions for the entourage.</a>
                                            </ul>
                                            <ul>
                                                <a>b. The bride and groom may assign their wedding coordinators provided that they were properly endorsed and they have attended the shrine’s orientation for coordinators before the wedding.</a>
                                            </ul>
                                            <ul>
                                                <p>c. Wedding coordinators not following the shrine’s rules and regulations will be blacklisted.</p>
                                            </ul>
                                        </ul>

                                        <a>13. Wedding Missalette</a>
                                        <ul>
                                            <ul>
                                                <a>a. The bride and groom my request a standard copy of wedding missalette in the parish office. Digital file or soft copy may be sent through email.</a>
                                            </ul>
                                            <ul>
                                                <a>b. No alterations or any addition to the approved liturgy should be made. Personal vows are not allowed.</a>
                                            </ul>
                                            <ul>
                                                <p>c. Draft of printed copy of the bride and groom’s wedding missalette must be submitted to the office for checking before making the final copies. Only checked and approved missalettes will be allowed for distribution during the wedding.</p>
                                            </ul>
                                        </ul>

                                        <a>14. Respect and Solemnity of the Holy Grounds</a>
                                        <ul>
                                            <ul>
                                                <a>a. Pets are not allowed to join the wedding procession.</a>
                                            </ul>
                                            <ul>
                                                <a>b. Cleanliness must be strictly observed inside and outside the shrine. Releasing of doves may be done outside the shrine’s doors.</a>
                                            </ul>
                                            <ul>
                                                <a>c. Only flower petals are allowed as extended greetings; permitted to be showered outside the shrine’s main entrance. Other extended greetings like party poppers, confetti and rice throwing are not permitted.</a>
                                            </ul>
                                            <ul>
                                                <a>d. Fogging and bubbles effect are not allowed inside and outside the shrine.</a>
                                            </ul>
                                            <ul>
                                                <p>e. Closed doors are not allowed.</p>
                                            </ul>
                                        </ul>

                                        <a>15. General Provision</a>
                                        <ul>
                                            <ul>
                                               <a>a. Any damage incurred during the wedding by the wedding entourage or guests, the reasonable cost shall be accounted for by the bride and groom.</a>
                                            </ul>
                                            <ul>
                                                <p>b. We have read and signify our agreement on the above terms and conditions of the National Shrine of Our Lady of Mount Carmel Rules and Regulations concerning wedding events and that the National Shrine of Our Lady of Mount Carmel and its personnel will not be held liable to any damages as a result of the enforcement of the said rules and regulations.</p>
                                            </ul>
                                        </ul>



                                </div>
                            </div>

                        </div>
                        <div class="card-footer">
                            <p class="text-center mb-0">
                                <a class="btn btn-lg btn-brown rounded-pill px-5" href="javascript:void(0)" data-toggle="modal" data-target="#acceptanceModal">Accept</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Acceptance modal #}
    <div class="modal fade" id="acceptanceModal" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="acceptanceModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="acceptanceModalTitle">Marriage</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body p-lg-5">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-brown rounded-pill px-5" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}