{#
    Filename    : passing.html.twig
    Location    : application/views/services/passing.html.twig
    Purpose     : Passing partial page
    Created     : 6/03/2019 by Sherlock Holmes
    Updated     : 6/28/2019 by Sherlock Holmes
    Changes     : Changed commenting format
#}

{% extends 'base.html.twig' %}
{% block title %} {{ page_title }} | Mount Carmel {% endblock %}
{% block contents %}
    <div class="row">
        <div class="col-12 col-lg-4 mb-4">
            <div class="list-group" id="list-tab" role="tablist">
                <div class="list-group-item list-group-item-action">
                    <div class="service">
                        <i class="icon-passing icon-96 sienna m-0 p-0"></i>
                    </div>
                    <div class="service-info">
                        <div class="title">Passing</div>
                        <div class="desc text-left">
                            Provide christian services and a peaceful resting place for our late loved ones
                        </div>
                    </div>
                </div>
                <a class="list-group-item list-group-item-action active" id="list-passing-list" data-toggle="list" href="#list-passing-funeral-service" role="tab" aria-controls="passing">Funeral Service</a>
                <a class="list-group-item list-group-item-action " id="list-passing-list" data-toggle="list" href="#list-passing-funeral-chapel" role="tab" aria-controls="passing">Funeral Chapel</a>
                <a class="list-group-item list-group-item-action " id="list-passing-list" data-toggle="list" href="#list-passing-crypt-lobby" role="tab" aria-controls="passing">Crypt Lobby - Mass for the Dead</a>
                <a class="list-group-item list-group-item-action " id="list-passing-list" data-toggle="list" href="#list-passing-november-mass" role="tab" aria-controls="passing">November Mass for the Dead</a>
            </div>
        </div>
        <div class="col-12 col-lg-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-passing-funeral-service" role="tabpanel" aria-labelledby="list-passing-list">
                    <div class="card">
                        <div class="card-body px-6">
                            <p class="text-center">
                                Funeral Service for blessing or conducting mass during the funeral.
                            </p>

                            <p class="text-center mb-0">Parishioner may give the officiating priest a donation after the service.</p>
                            <br>
                            <p class="text-center mb-0">Exclusive for funerals conducted inside Our Lady of Mount Carmel premises.</p>
                        </div>
                        <div class="card-footer">
                            <p class="text-center mb-0">
                                <a class="btn btn-lg btn-brown rounded-pill px-5" href="javascript:void(0)" data-toggle="modal" data-target="#acceptanceModal">Accept</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show " id="list-passing-funeral-chapel" role="tabpanel" aria-labelledby="list-passing-list">
                    <div class="card">
                        <div class="card-body px-6">
                            <p class="text-center">
                                There are three available chapels for conducting funeral rites and services.
                            </p>

                            <div class="alert alert-light-brown sienna mx-7" role="alert">
                                <div class="alert-message">
                                    <h4 class="alert-heading">Chapels:</h4>
                                    <ul>
                                        <li>Mt. Carmel Chapel</li>
                                        <ul>
                                            <li>150 sitting capacity</li>
                                            <li>15,000 php/day</li>
                                            <li>650 php/excess hour</li>
                                        </ul>
                                    </ul>
                                    <br>
                                    <ul>
                                        <li>St. Joseph Chapel</li>
                                        <ul>
                                            <li>40 sitting capacity</li>
                                            <li>8,000 php/day</li>
                                            <li>350 php/excess hour</li>
                                        </ul>
                                    </ul>
                                    <br>
                                    <ul>
                                        <li>Holy Family Chapel</li>
                                        <ul>
                                            <li>40 sitting capacity</li>
                                            <li>8,000 php/day</li>
                                            <li>350 php/excess hour</li>
                                        </ul>
                                    </ul>
                                    <br>
                                    <h4 class="alert-heading">Chapel Amenities:</h4>
                                    <ul>
                                        <li>Daily Mass</li>
                                        <br>
                                        <li>Fully air-conditioned</li>
                                        <li>Refrigerator</li>
                                        <li>Hot and cold water dispenser</li>
                                        <li>Microwave oven</li>
                                        <li>Kitchen sink</li>
                                        <li>Single bed</li>
                                        <li>Family room</li>
                                        <li>Restroom</li>
                                        <br>
                                        <li>24 hour security services</li>
                                        <li>Ample parking space</li>
                                    </ul>
                                </div>
                            </div>

                            <p class="text-center mb-0">You may settle your bill using your debit card, credit card or cash</p>
                        </div>
                        <div class="card-footer">
                            <p class="text-center mb-0">
                                <a class="btn btn-lg btn-brown rounded-pill px-5" href="javascript:void(0)" data-toggle="modal" data-target="#acceptanceModal">Accept</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show " id="list-passing-crypt-lobby" role="tabpanel" aria-labelledby="list-passing-list">
                    <div class="card">
                        <div class="card-body px-6">
                            <p class="text-center">
                                Crypt Lobby is available for conducting mass for the dead.
                            </p>

                            <div class="alert alert-light-brown sienna mx-7" role="alert">
                                <div class="alert-message">
                                    <h4 class="alert-heading">Fees:</h4>
                                    <ul>
                                        <li>Crypt Lobby</li>
                                        <ul>
                                            <li>20 sitting capacity</li>
                                        </ul>
                                    </ul>
                                    <hr>
                                    <ul style="list-style-type: circle">
                                        <li>500 php/hour</li>
                                    </ul>
                                </div>
                            </div>

                            <p class="text-center mb-0">You may settle your bill using your debit card, credit card or cash.</p>
                        </div>
                        <div class="card-footer">
                            <p class="text-center mb-0">
                                <a class="btn btn-lg btn-brown rounded-pill px-5" href="javascript:void(0)" data-toggle="modal" data-target="#acceptanceModal">Accept</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show " id="list-passing-november-mass" role="tabpanel" aria-labelledby="list-passing-list">
                    <div class="card">
                        <div class="card-body px-6">
                            <p class="text-center">
                                Mass for the Dead will be offered every 06:00 AM of November.
                            </p>

                            <p class="text-center mb-0">After submission, you may donate any amount as an offering for your requested mass in your mailbox.</p>
                        </div>
                        <div class="card-footer">
                            <p class="text-center mb-0">
                                <a class="btn btn-lg btn-brown rounded-pill px-5" href="javascript:void(0)" data-toggle="modal" data-target="#acceptanceModal">Accept</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Acceptance modal #}
    <div class="modal fade" id="acceptanceModal" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="acceptanceModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="acceptanceModalTitle">Passing</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body p-lg-5">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-brown rounded-pill px-5" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}