{#
    Filename    : index.html.twig
    Location    : application/views/transparency/index.html.twig
    Purpose     : Transparency partial page
    Created     : 06/03/2019 13:09:07 by Spiderman
    Updated     : 07/17/2019 13:09:03 by Spiderman
    Changes     : Implement transparency API
#}

{% extends 'base.html.twig' %}
{% block title %} {{ page_title }} | Mount Carmel {% endblock %}
{% block contents %}
    <div id="transparency" class="row justify-content-center">
        <div class="col-12 col-lg-10">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title mb-2">{{ page_title }}
                        <a id="refresh" href="javascript:void(0);" target="_blank" title="Refresh"><i class="icon-refresh mt-2 float-right"></i></a>
                    </h3>
                    <h4 class="card-subtitle">{{ page_subtitle }}</h4>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-hover">
                        <tbody>
                            <!-- This is where the donations list load -->
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <p class="text-center mb-0">
                        <!-- Total donations -->
                        <button type="button" class="btn btn-lg btn-brown rounded-pill px-5">₱0.00</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_scripts %}
    <script>
        $(function () {
            
            let baseURL = location.origin.toLowerCase() + '/mountcarmel.web';
            let apiURL = location.origin.toLowerCase() + '/mountcarmel.api';
            
            let app = {
                init: function () {
                    this.donations();
                },
                // GET: Donations
                donations: function() {
                    
                    let el = $('#transparency');
                    let data = el.serialize();

                    $.ajax({
                        url: apiURL + '/donations',
                        type: 'GET',
                        dataType: 'json',
                        data: data,
                        cache: false,
                        processData: false,
                        success: function (data) {
                            if (data) {
                                // Total Donations
                                el.find('button[type="button"]').html('₱' + data.total_donations.amount);
                                // Donations List
                                $.each(data.donations_list, function (key, value) {
                                    el.find('tbody').append(
                                        '<tr>' +
                                        '   <td>' +
                                        '       <img class="rounded-circle mr-2" src="' + apiURL + '/' + value.profile_photo + '" width="32" height="32" alt="' + value.first_name + ' ' + value.last_name + '" />' + value.first_name + ' ' + value.last_name +
                                        '   </td>' +
                                        '   <td>' + '₱' + value.amount + '</td>' +
                                        '   <td>' + moment(value.posted_on, "YYYY-MM-DD h:mm:ss").fromNow() + '</td>' +
                                        '   <td>' + value.donation_type + '</td>' +
                                        '</tr>'
                                    );
                                });
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log('The following error occurred: ' + textStatus, errorThrown);
                        }
                    });
                },
                reloadList: function() {
                    // TODO: Implement on click refresh donations list
                    $('#refresh').on('click', function(e){});
                }
            };

            app.init();
        })
    </script>
{% endblock %}