/*
*   Filename  : _mixins.scss
*   Purpose   : Reusable mixins for css styles
*   Created   : 5/24/2019 by rpbaguio
*   Updated   :
*   Changes   :
*/

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

@mixin border-radius($property) {
  -webkit-border-radius: $property;
  -moz-border-radius: $property;
  border-radius: $property;
}