/*
*   Filename  : _variables.scss
*   Purpose   : Reusable variables for css styles
*   Created   : 5/23/2019 by rpbaguio
*   Updated   : 5/31/2019 by rpbaguio
*   Changes   : Removed primary font variables
*/

/* Color scheme */
$sienna: #7E5232;
$dark-khaki: #B88A5A;
$dark-olive: #442E26;
$light-steel-blue: #EAEBF0;
$light-slate-gray: #8D8C91;