{#
    File      : views/management/mass-request.html.twig
    Purpose   : management/mass_request view
    Created   : 6/04/2019 by Constantina
    Updated   :
    Changes   :
#}

{% extends 'base.html.twig' %}
{% block title %} {{ page_title }} | Mount Carmel {% endblock %}
{% block contents %}
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-header text-center">
                    <h3 class="card-title">Mass Request</h3>
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
{% endblock %}